GRAUML/Nonnormative/Eclipse/org.ijis.gra.annotation/model.new/Data.GRAUML.GRAAnnotationModelXMI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:GRAAnnotationModel="http://ijis.org/GRA/Annotations" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ijis.org/GRA/Annotations">
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/>
  <xsd:simpleType name="ExchangePattern">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="enquiry"/>
      <xsd:enumeration value="subscription"/>
      <xsd:enumeration value="notification"/>
      <xsd:enumeration value="update"/>
      <xsd:enumeration value="message"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParameterUse">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="in"/>
      <xsd:enumeration value="out"/>
      <xsd:enumeration value="inout"/>
      <xsd:enumeration value="exception"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="InteractionRequirements">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="OtherRequirement" nillable="true" type="xsd:string"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="ServiceConsumerAuthentication" type="xsd:boolean"/>
    <xsd:attribute name="ServiceConsumerAuthorization" type="xsd:boolean"/>
    <xsd:attribute name="IdentityAndAttributeAssertionTransmission" type="xsd:boolean"/>
    <xsd:attribute name="ServiceAuthentication" type="xsd:boolean"/>
    <xsd:attribute name="MessageNonrepudiation" type="xsd:boolean"/>
    <xsd:attribute name="MessageIntegrity" type="xsd:boolean"/>
    <xsd:attribute name="MessageConfidentiality" type="xsd:boolean"/>
    <xsd:attribute name="MessageAddressing" type="xsd:boolean"/>
    <xsd:attribute name="Reliability" type="xsd:boolean"/>
    <xsd:attribute name="TransactionSupport" type="xsd:boolean"/>
    <xsd:attribute name="ServiceMetadataAvailability" type="xsd:boolean"/>
    <xsd:attribute name="InterfaceDescriptionRequirements" type="xsd:boolean"/>
    <xsd:attribute name="Logging" type="xsd:boolean"/>
    <xsd:attribute name="ServiceResponsiveness" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="InteractionRequirements" type="GRAAnnotationModel:InteractionRequirements"/>
  <xsd:complexType abstract="true" name="GRAServiceAnnotationBase">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="Flag" nillable="true" type="xsd:string"/>
      <xsd:element name="Requirement" type="GRAAnnotationModel:InteractionRequirements"/>
      <xsd:element name="ModelReference" type="GRAAnnotationModel:ModelReference"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="Name" type="xsd:string"/>
    <xsd:attribute name="Documentation" type="xsd:string"/>
    <xsd:attribute name="Template" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="GRAServiceAnnotationBase" type="GRAAnnotationModel:GRAServiceAnnotationBase"/>
  <xsd:complexType name="Participant">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="ParticipatingOrganization" type="GRAAnnotationModel:Organization"/>
        </xsd:choice>
        <xsd:attribute name="ParticipatingOrganization" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Participant" type="GRAAnnotationModel:Participant"/>
  <xsd:complexType name="Interface">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="Operation" type="GRAAnnotationModel:Operation"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Interface" type="GRAAnnotationModel:Interface"/>
  <xsd:complexType name="Service">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="Port" type="GRAAnnotationModel:Port"/>
      <xsd:element name="ServiceProvider" type="GRAAnnotationModel:Participant"/>
      <xsd:element name="SampleData" type="GRAAnnotationModel:SampleData"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="ServiceProvider" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Service" type="GRAAnnotationModel:Service"/>
  <xsd:complexType name="Operation">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="Parameter" type="GRAAnnotationModel:Parameter"/>
        </xsd:choice>
        <xsd:attribute name="MessageExchangePattern" type="GRAAnnotationModel:ExchangePattern"/>
        <xsd:attribute name="IsAsynchronous" type="xsd:boolean"/>
        <xsd:attribute name="ActionName" type="xsd:string"/>
        <xsd:attribute name="ActionPurpose" type="xsd:string"/>
        <xsd:attribute name="ActionProvenance" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Operation" type="GRAAnnotationModel:Operation"/>
  <xsd:complexType name="Parameter">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="Message" type="GRAAnnotationModel:Message"/>
        </xsd:choice>
        <xsd:attribute name="Use" type="GRAAnnotationModel:ParameterUse"/>
        <xsd:attribute name="DataProvenance" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Parameter" type="GRAAnnotationModel:Parameter"/>
  <xsd:complexType name="Port">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="Interface" type="GRAAnnotationModel:Interface"/>
        </xsd:choice>
        <xsd:attribute name="AddressURI" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Port" type="GRAAnnotationModel:Port"/>
  <xsd:complexType name="ModelReference">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="DiagramLink" nillable="true" type="xsd:string"/>
      <xsd:element name="Model" type="GRAAnnotationModel:Model"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="Name" type="xsd:string"/>
    <xsd:attribute name="Documentation" type="xsd:string"/>
    <xsd:attribute name="ElementID" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="ModelReference" type="GRAAnnotationModel:ModelReference"/>
  <xsd:complexType name="ServiceInteraction">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="Participant" type="GRAAnnotationModel:Participant"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceInteraction" type="GRAAnnotationModel:ServiceInteraction"/>
  <xsd:complexType name="UseCase">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="Provider" type="GRAAnnotationModel:Participant"/>
          <xsd:element name="Consumer" type="GRAAnnotationModel:Participant"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="UseCase" type="GRAAnnotationModel:UseCase"/>
  <xsd:complexType name="Agreement">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="Documentation" type="xsd:string"/>
    <xsd:attribute name="AgreementURI" type="xsd:string"/>
    <xsd:attribute name="AutomatedAgreementIndicator" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:element name="Agreement" type="GRAAnnotationModel:Agreement"/>
  <xsd:complexType name="IEPDReference">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="Name" type="xsd:string"/>
    <xsd:attribute name="IEPDURL" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="IEPDReference" type="GRAAnnotationModel:IEPDReference"/>
  <xsd:complexType name="Person">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:attribute name="ContactPersonEmailID" type="xsd:string"/>
        <xsd:attribute name="ContactPersonPhoneNumberID" type="xsd:string" use="required"/>
        <xsd:attribute name="ContactPersonAddress" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Person" type="GRAAnnotationModel:Person"/>
  <xsd:complexType name="SecurityClassification">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="Name" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SecurityClassification" type="GRAAnnotationModel:SecurityClassification"/>
  <xsd:complexType name="ServiceCapability">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="Documentation" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="ServiceCapability" type="GRAAnnotationModel:ServiceCapability"/>
  <xsd:complexType name="ServiceDescription">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:ServiceIdentification">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="Classification" nillable="true" type="xsd:string"/>
          <xsd:element name="Sponsor" nillable="true" type="xsd:string"/>
          <xsd:element name="ServiceDescriptionKeywordText" nillable="true" type="xsd:string"/>
          <xsd:element name="Endorsements" nillable="true" type="xsd:string"/>
          <xsd:element name="ServiceDescription" type="GRAAnnotationModel:Description"/>
          <xsd:element name="ExchangePartner" type="GRAAnnotationModel:Participant"/>
          <xsd:element name="ServicePurpose" type="GRAAnnotationModel:Description"/>
          <xsd:element name="ServiceScopeDescription" type="GRAAnnotationModel:Description"/>
          <xsd:element name="ServiceCapability" type="GRAAnnotationModel:ServiceCapability"/>
          <xsd:element name="ServiceDependency" type="GRAAnnotationModel:ServiceIdentification"/>
          <xsd:element name="IEPDReference" type="GRAAnnotationModel:IEPDReference"/>
          <xsd:element name="ServiceSecurityClassification" type="GRAAnnotationModel:SecurityClassification"/>
          <xsd:element name="ServiceLevelAgreement" type="GRAAnnotationModel:ServiceLevelAgreement"/>
          <xsd:element name="RelatedOrganization" type="GRAAnnotationModel:Organization"/>
          <xsd:element name="ServiceInterface" type="GRAAnnotationModel:ServiceInterfaceSpecification"/>
          <xsd:element name="RealWorldEffect" type="GRAAnnotationModel:UseCase"/>
          <xsd:element name="ServiceInteraction" type="GRAAnnotationModel:ServiceInteraction"/>
          <xsd:element name="AdditionalInformation" type="GRAAnnotationModel:Description"/>
          <xsd:element name="ExecutionContext" type="GRAAnnotationModel:Description"/>
          <xsd:element name="Security" type="GRAAnnotationModel:Description"/>
          <xsd:element name="Privacy" type="GRAAnnotationModel:Description"/>
          <xsd:element name="ServiceAssumption" type="GRAAnnotationModel:Description"/>
        </xsd:choice>
        <xsd:attribute name="ServiceDescriptionSummaryText" type="xsd:string"/>
        <xsd:attribute name="DomainDescription" type="xsd:string"/>
        <xsd:attribute name="TransformationURI" type="xsd:string"/>
        <xsd:attribute name="MajorVersion" type="xsd:int" use="required"/>
        <xsd:attribute name="MinorVersion" type="xsd:int" use="required"/>
        <xsd:attribute name="RevisionVersion" type="xsd:int"/>
        <xsd:attribute name="CreationDate" type="xsd:string"/>
        <xsd:attribute name="ActivationDate" type="xsd:string"/>
        <xsd:attribute name="LastRevisionDate" type="xsd:string"/>
        <xsd:attribute name="NextRevisionDate" type="xsd:string"/>
        <xsd:attribute name="ExpirationDate" type="xsd:string"/>
        <xsd:attribute name="LifecycleStatus" type="xsd:string"/>
        <xsd:attribute name="AlertAndNotificationURI" type="xsd:string"/>
        <xsd:attribute name="ServiceDescriptionURI" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceDescription" type="GRAAnnotationModel:ServiceDescription"/>
  <xsd:complexType name="ServiceIdentification">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:attribute name="ServiceID" type="xsd:string"/>
        <xsd:attribute name="ServiceURI" type="xsd:string"/>
        <xsd:attribute name="ServiceNameAbbreviationText" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceIdentification" type="GRAAnnotationModel:ServiceIdentification"/>
  <xsd:complexType name="ServiceInteractionProfile">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="SIPName" type="xsd:string" use="required"/>
    <xsd:attribute name="SIPVersion" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:element name="ServiceInteractionProfile" type="GRAAnnotationModel:ServiceInteractionProfile"/>
  <xsd:complexType name="ServiceInterfaceSpecification">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="ServiceInteractionProfile" type="GRAAnnotationModel:ServiceInteractionProfile"/>
          <xsd:element name="Provider" type="GRAAnnotationModel:Service"/>
          <xsd:element name="MessageDefinitionMechanism" type="GRAAnnotationModel:Description"/>
          <xsd:element name="ServiceTesting" type="GRAAnnotationModel:Description"/>
          <xsd:element name="SchemaReference" type="GRAAnnotationModel:SchemaReference"/>
        </xsd:choice>
        <xsd:attribute name="SecurityImplementedIndicator" type="xsd:boolean" use="required"/>
        <xsd:attribute name="SecurityDescriptionText" type="xsd:string"/>
        <xsd:attribute name="URIAddress" type="xsd:string"/>
        <xsd:attribute name="ServiceInterfaceDescriptionURI" type="xsd:string"/>
        <xsd:attribute name="TargetNamespace" type="xsd:string" use="required"/>
        <xsd:attribute name="Prefix" type="xsd:string" use="required"/>
        <xsd:attribute name="ServiceTesting" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceInterfaceSpecification" type="GRAAnnotationModel:ServiceInterfaceSpecification"/>
  <xsd:complexType name="ServiceLevelAgreement">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="ApplicablePolicy" type="GRAAnnotationModel:Description"/>
      <xsd:element name="UmbrellaAgreement" type="GRAAnnotationModel:Agreement"/>
      <xsd:element name="Agreement" type="GRAAnnotationModel:Agreement"/>
      <xsd:element name="ApplicableContract" type="GRAAnnotationModel:Agreement"/>
      <xsd:element name="LicensingAgreement" type="GRAAnnotationModel:Agreement"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="ApplicablePoliciesIndicator" type="xsd:boolean"/>
    <xsd:attribute name="ApplicableContractsIndicator" type="xsd:boolean"/>
    <xsd:attribute name="ApplicableAgreementsIndicator" type="xsd:boolean"/>
    <xsd:attribute name="ApplicableUmbrellaAgreementsIndicator" type="xsd:boolean"/>
    <xsd:attribute name="ApprovalRequiredIndicator" type="xsd:boolean"/>
    <xsd:attribute name="LicensingRequiredIndicator" type="xsd:boolean"/>
    <xsd:attribute name="ServiceResponseTime" type="xsd:string"/>
    <xsd:attribute name="ServiceAverageThroughput" type="xsd:string"/>
    <xsd:attribute name="ServiceMaximumThroughput" type="xsd:string"/>
    <xsd:attribute name="ServiceAvailability" type="xsd:string"/>
    <xsd:attribute name="UsageCostAmount" type="xsd:string"/>
    <xsd:attribute name="UsageUnitCostAmount" type="xsd:string"/>
    <xsd:attribute name="CreationCostAmount" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="ServiceLevelAgreement" type="GRAAnnotationModel:ServiceLevelAgreement"/>
  <xsd:complexType name="Description">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="Documentation" type="xsd:string"/>
    <xsd:attribute name="ExternalDocumentation" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Description" type="GRAAnnotationModel:Description"/>
  <xsd:complexType name="Model">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="ModelURI" type="xsd:string"/>
    <xsd:attribute name="Label" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Model" type="GRAAnnotationModel:Model"/>
  <xsd:complexType name="SampleData">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="Input" nillable="true" type="xsd:string"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="ExpectedOutput" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:element name="SampleData" type="GRAAnnotationModel:SampleData"/>
  <xsd:complexType name="Message">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:attribute name="Prefix" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Message" type="GRAAnnotationModel:Message"/>
  <xsd:complexType name="SchemaReference">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="Namespace" type="xsd:string"/>
    <xsd:attribute name="Prefix" type="xsd:string"/>
    <xsd:attribute name="SchemaLocation" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="SchemaReference" type="GRAAnnotationModel:SchemaReference"/>
  <xsd:complexType name="Organization">
    <xsd:complexContent>
      <xsd:extension base="GRAAnnotationModel:GRAServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="OrganizationPointOfContact" type="GRAAnnotationModel:Person"/>
        </xsd:choice>
        <xsd:attribute name="OrganizationAcronym" type="xsd:string"/>
        <xsd:attribute name="OrganizationFullAddressText" type="xsd:string"/>
        <xsd:attribute name="OrganizationWebSiteURL" type="xsd:string"/>
        <xsd:attribute name="OrganizationRoleDescriptionText" type="xsd:string" use="required"/>
        <xsd:attribute name="OrganizationRoleDetailedDescriptionText" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Organization" type="GRAAnnotationModel:Organization"/>
</xsd:schema>
