Examples/Corrections/Corrections_GRA_EXAMPLE/Corrections_SSP_v_1.0.0/artifacts/service model/information model/Corrections_iepd/XMLschemas/Content/extension/CorrectionsSubjectExtension.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:HOUSE="http://it.ojp.gov/gist/200/Corrections/housing" xmlns:MetaR="http://it.ojp.gov/gist/201/Metadata/MetadataReference" xmlns:Q1="http://it.ojp.gov/gist/200/Corrections/EntityIdentification" xmlns:Q2="http://it.ojp.gov/gist/200/Corrections/service" xmlns:Q3="http://it.ojp.gov/gist/201/Metadata/MetadataReference" xmlns:Q4="http://it.ojp.gov/gist/200/Corrections/treatments" xmlns:SERVICE="http://it.ojp.gov/gist/200/Corrections/service" xmlns:SUBJ="http://it.ojp.gov/gist/200/Corrections/subject" xmlns:TREAT="http://it.ojp.gov/gist/200/Corrections/treatments" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://it.ojp.gov/gist/200/Corrections/subject" version="&quot;1&quot;">
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/service" schemaLocation="../../../XMLschemas/Content/extension/SubjectServicesAndAssessments.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference" schemaLocation="../../../XMLschemas/Metadata/MetadataReference.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/treatments" schemaLocation="../../../XMLschemas/Content/extension/TreatmentAndPerscriptionExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/EntityIdentification" schemaLocation="../../../XMLschemas/Content/extension/EntityIdentification.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../../XMLschemas/Content/subset/niem/2.0/niem-core.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/housing" schemaLocation="../../../XMLschemas/Content/extension/HousingExtension.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation="../../../XMLschemas/Content/subset/niem/2.0/jxdm.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../XMLschemas/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../XMLschemas/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../XMLschemas/structures/2.0/structures.xsd"/>
  <xsd:complexType abstract="false" mixed="false" name="SubjectType">
    <xsd:annotation>
      <xsd:documentation>A data type for subjects, subjects are the foundation of correction information sharing. Subjects may be inmates, convicted or waiting for trial. Subjects may have sentences, multiple incarcerations and be categorized.
Subjects receive services provided by service providers (a role of an organization). Kinds of services include treatments, education and assessments.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="SubjectType" i:namespace="http://niem.gov/niem/domains/jxdm/4.1"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:SubjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SUBJ:EntityIdentification"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:Incarceration"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SUBJ:ServiceProvided"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:Accomplishments"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:Indicator"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:Incident"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:InsuranceHeld"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:Perscriptions"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:Obligation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:Sanction"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:Housing"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:SupervisionStatusCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:Property"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:Arrest"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:Visitation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SUBJ:Biometric"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="EntityIdentification" nillable="false" type="Q1:EntityIdentityType">
    <xsd:annotation>
      <xsd:documentation>An Identification of a subject and links to more information about that subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Incarceration" nillable="false" type="SUBJ:IncarcerationType">
    <xsd:annotation>
      <xsd:documentation>A set of Incarceration(s) of a subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="IncarcerationType">
    <xsd:annotation>
      <xsd:documentation>A data type for current and past incarcerations of a subject</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SUBJ:Incarcerated"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:Release"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SUBJ:IncarcerationOffense"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SUBJ:CorrectionalFacility"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SUBJ:BeginDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:EndDate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Incarcerated" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An incarcerated subject</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="SubjectType" i:namespace="http://it.ojp.gov/gist/200/Corrections/subject"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Release" nillable="false" type="nc:ReleaseType">
    <xsd:annotation>
      <xsd:documentation>A set of Details of discharge from incarceration</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="IncarcerationOffense" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A set of Offense(s) that contributed to an incarceration</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="OffenseType" i:namespace="http://niem.gov/niem/domains/jxdm/4.1"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="CorrectionalFacility" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A subjects stay at a correction facility for their incarceration</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="CorrectionalFacilityType" i:namespace="http://niem.gov/niem/domains/jxdm/4.1"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="BeginDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation>A date of incarceration</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="EndDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation>A date incarceration ended</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceProvided" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A Services for a subject</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ServiceType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Accomplishments" nillable="false" type="SUBJ:AccomplishmentType">
    <xsd:annotation>
      <xsd:documentation>A set of Goals subject has accomplished.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="AccomplishmentType">
    <xsd:annotation>
      <xsd:documentation>A data type for accomplishments of a subject {From face-face Needs review}</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:AccomplishmentDescriptionText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:AccomplishmentDate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="AccomplishmentDescriptionText" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A description of the accomplishment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AccomplishmentDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation>A date accomplished</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Indicator" nillable="false" type="SUBJ:IndicatorType">
    <xsd:annotation>
      <xsd:documentation>Indicators of risk associated with a subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="IndicatorType">
    <xsd:annotation>
      <xsd:documentation>A data type for an indicator of a subjects status, condition or behavior</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:IndicatorDescription"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:RiskLevelCode"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SUBJ:SourceAssessment"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:IndicatorContact"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SUBJ:CategoryURI"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="IndicatorDescription" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A description of an indicator</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RiskLevelCode" nillable="false" type="Q2:LevelCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A Risk indicated</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SourceAssessment" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A assessment that produced an indicator</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="AssessmentType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="IndicatorContact" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A contact for more information about an indicator</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="CategoryURI" nillable="false" type="MetaR:CategoryURIType">
    <xsd:annotation>
      <xsd:documentation>A URI of the category of this indicator</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Incident" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A set of Incidents related to a subject</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="IncidentType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="InsuranceHeld" nillable="false" type="nc:InsuranceType">
    <xsd:annotation>
      <xsd:documentation>A subjects insurance</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Perscriptions" nillable="false" type="Q4:PrescriptionType">
    <xsd:annotation>
      <xsd:documentation>A set of Prescription(s) for a subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Obligation" nillable="false" type="nc:ObligationType">
    <xsd:annotation>
      <xsd:documentation>A set of Obligation(s) of a subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Sanction" nillable="false" type="j:SanctionType">
    <xsd:annotation>
      <xsd:documentation>A set of Sanctions for a subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Housing" nillable="false" type="HOUSE:HousingAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to a subjects housing</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SupervisionStatusCode" nillable="false" type="SUBJ:SupervisionStatusCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A Status of supervision ** Review for redundancy with SupervisionType</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="SupervisionStatusCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for Offender supervision status</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Unsupervised">
        <xsd:annotation>
          <xsd:documentation>Subject is unsupervised</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Supervised_Compliant">
        <xsd:annotation>
          <xsd:documentation>Compliant supervision</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Supervised_Violation">
        <xsd:annotation>
          <xsd:documentation>In violation of supervision</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element abstract="false" name="Property" nillable="false" type="nc:PropertyType">
    <xsd:annotation>
      <xsd:documentation>A property of a subject, including held property.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Arrest" nillable="false" type="j:ArrestType">
    <xsd:annotation>
      <xsd:documentation>A set of Arrests of subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Visitation" nillable="false" type="j:VisitationType">
    <xsd:annotation>
      <xsd:documentation>A Visitation(s) of a subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Biometric" nillable="false" type="nc:BiometricType">
    <xsd:annotation>
      <xsd:documentation>A set of Biometrics of a subject (not appropriate for person in general)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:annotation>
    <xsd:documentation>A schema for corrections subjects</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType abstract="false" mixed="false" name="SubjectPlanningAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a relationship to the planning of an activity</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Association" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="SubjectAssociatesAssociationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a relationship to a subjects associates</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Association" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SUBJ:Associates"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:AssociationDescriptionText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:AssociationName"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SUBJ:Subject"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:EndDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SUBJ:StartDate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Associates" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AssociationDescriptionText" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A description of subjects association with associates.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AssociationName" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A kind of subjects association with associates.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Subject" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="SubjectType" i:namespace="http://niem.gov/niem/domains/jxdm/4.1"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="StartDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation>A date the subjects association with associates started.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
