GRAUML/PriorVersions/Examples/SIRS/SIRS_GRA_EXAMPLE/SIRS-Service/schemas/SIP/SIRS.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:graa="http://ijis.org/GRA/Annotations"
                  xmlns:xmi="http://www.omg.org/spec/XMI/20110701"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:gra-sirs="http://www.iir.com/SIRS/1.0.0"
                  xmlns:ope="http://www.iir.com/sorna/NIEM/2.1/OP/extension/1.0"
                  xmlns:rne="http://www.iir.com/sorna/NIEM/2.1/notification/extension/1.0">
   <wsdl:documentation>SIRS provides offender information and notices between stakeholders to track the offender's compliance with SORNA registration requirements</wsdl:documentation>
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://www.iir.com/sorna/NIEM/2.1/OP/extension/1.0"
                     schemaLocation="artifacts/service model/information model//external/OffPackage-ext.xsd"/>
         <xsd:import namespace="http://www.iir.com/sorna/NIEM/2.1/notification/extension/1.0"
                     schemaLocation="artifacts/service model/information model//external/RelNotice-ext.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="RelocationPackage">
      <wsdl:part name="RegisteredSexOffenderPackageType"
                 element="ope:RegisteredSexOffenderPackageType">
         <wsdl:documentation>A data type for sex offender relocation package.</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="RelocationNotice">
      <wsdl:part name="SORNARelocationNoticeType"
                 element="rne:SORNARelocationNoticeType">
         <wsdl:documentation>A data type for sex offender relocation notice information</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="RelocationPackageInterface">
      <wsdl:operation name="SubmitRelocationPackage">
         <wsdl:documentation>The Intermediary Host invokes this action to receive the RelocationPackage message from the Sending Jurisdiction</wsdl:documentation>
         <wsdl:input name="RelocationPackage" message="ope:RegisteredSexOffenderPackageType"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:portType name="RelocationNoticeInterface">
      <wsdl:operation name="RelocationNotification">
         <wsdl:input name="RelocationNotice" message="rne:SORNARelocationNoticeType"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="RelocationPackageInterfaceBinding"
                 type="RelocationPackageInterface">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="SubmitRelocationPackage">
         <soap:operation soapAction="SubmitRelocationPackage" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="RelocationNoticeInterfaceBinding"
                 type="RelocationNoticeInterface">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="RelocationNotification">
         <soap:operation soapAction="RelocationNotification" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="RelocationServiceSIPService">
      <wsdl:port name="RelocationPackageInterface"
                 binding="RelocationPackageInterfaceBinding">
         <soap:address location="http://RelocationPackageInterface"/>
      </wsdl:port>
   </wsdl:service>
   <wsdl:service name="NotificationServiceSIPService">
      <wsdl:port name="RelocationNoticeInterface"
                 binding="RelocationNoticeInterfaceBinding">
         <soap:address location="http://RelocationNoticeInterface"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
