GRAUML/Nonnormative/Examples/Corrections/Corrections_GRA_EXAMPLE/Corrections_SSP_v_1.0.0/artifacts/service model/information model/GRAMessageMetadata/XMLschemas/Content/extension/TreatmentAndPerscriptionExtension.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:MetaR="http://it.ojp.gov/gist/201/Metadata/MetadataReference" xmlns:SERVICE="http://it.ojp.gov/gist/200/Corrections/service" xmlns:TREAT="http://it.ojp.gov/gist/200/Corrections/treatments" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://it.ojp.gov/gist/200/Corrections/treatments" version="&quot;1&quot;">
  <xsd:import namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference" schemaLocation="../../../XMLschemas/Metadata/MetadataReference.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../../XMLschemas/Content/subset/niem/2.0/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation="../../../XMLschemas/Content/subset/niem/2.0/jxdm.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/service" schemaLocation="../../../XMLschemas/Content/extension/SubjectServicesAndAssessments.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../XMLschemas/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../XMLschemas/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../XMLschemas/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:annotation>
    <xsd:documentation>A schema for treatments and medications</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType abstract="false" mixed="false" name="TreatmentType">
    <xsd:annotation>
      <xsd:documentation>A data type for a treatment, A treatment is a medical or behavioral service. A treatment may prescribe medication and has an enrollment and discharge assessment</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TreatmentType" i:namespace="http://niem.gov/niem/domains/jxdm/4.1"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:TreatmentType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="TREAT:Service"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="TREAT:TreatmentEnrollment"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="TREAT:TreatmentDischarge"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="TREAT:Perscribed"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="TREAT:TreatmentForCondition"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TREAT:TreatmentDiagnosisText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Service" nillable="false" type="SERVICE:ServiceType">
    <xsd:annotation>
      <xsd:documentation>An entity playing the role.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="PerscriptionType">
    <xsd:annotation>
      <xsd:documentation>A data type for a prescription</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="TREAT:DosageText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="TREAT:PerscribedMedication"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TREAT:PerscriptionReasonText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="TREAT:PerscriptionDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="TREAT:PerscriptionEndDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="TREAT:TakenDurationDate"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="TREAT:PerscriptionForCondition"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="TREAT:PerscriptionFrequencyText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="TREAT:PerscriptionOrderFollowedIndicator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="DosageText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A Prescription Dosage</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PerscribedMedication" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A medication prescribed</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="MedicationType" i:namespace="http://it.ojp.gov/gist/200/Corrections/treatments"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="MedicationType">
    <xsd:annotation>
      <xsd:documentation>A data type for medications</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="TREAT:CategoryID"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="TREAT:PrescribedMedicationName"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="CategoryID" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>An identifier for a Category of Medications prescribed</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="CategoryURIType" i:namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PrescribedMedicationName" nillable="true" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A Name of an Person's prescribed medication</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PerscriptionReasonText" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A note about a perscription</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PerscriptionDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation>A date the prescription is created</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PerscriptionEndDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation>A date a prescription ended</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="TakenDurationDate" nillable="false" type="niem-xsd:duration">
    <xsd:annotation>
      <xsd:documentation>A date Duration in which the prescription was taken</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PerscriptionForCondition" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A Condition for which the prescription is intended</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="MedicalConditionType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PerscriptionFrequencyText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>An instructions as to how often the prescription is to be taken</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PerscriptionOrderFollowedIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if  the subscription was followed - taken as directed; False otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="TreatmentEnrollment" nillable="false" type="TREAT:TreatmentEnrollmentType">
    <xsd:annotation>
      <xsd:documentation>An Enrollment assessment for a treatment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="TreatmentEnrollmentType">
    <xsd:annotation>
      <xsd:documentation>A data type for a assessment as part of the enrollment in a treatment</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssessmentType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SERVICE:AssessmentType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="TreatmentDischarge" nillable="false" type="TREAT:TreatmentDischargeType">
    <xsd:annotation>
      <xsd:documentation>A Discharge assessment from a treatment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="TreatmentDischargeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a assessment as part of the discharge from a treatment</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AssessmentType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SERVICE:AssessmentType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Perscribed" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A perscription(s) for a treatment</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PerscriptionType" i:namespace="http://it.ojp.gov/gist/200/Corrections/treatments"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="TreatmentForCondition" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A set of Conditions for which treatment is intended</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="MedicalConditionType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="TreatmentDiagnosisText" nillable="true" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A  determining or analysis of the manner in which to treat the cause or nature of a problem</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
