GRAUML/Nonnormative/Examples/Corrections/Corrections_GRA_EXAMPLE/Corrections_SSP_v_1.0.0/artifacts/service model/information model/Corrections_iepd/XMLschemas/Content/extension/PlanExtension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ENTITY="http://it.ojp.gov/gist/200/Corrections/entities" xmlns:PLAN="http://it.ojp.gov/gist/200/Corrections/plan" xmlns:Q1="http://domain.gov/myDomain/" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://it.ojp.gov/gist/200/Corrections/plan" version="&quot;1&quot;">
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
    <xsd:documentation source="">A schema for plans</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://domain.gov/myDomain/" schemaLocation="../../.././XMLschemas/Content/extension/EntityIdentification.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/entities" schemaLocation="../../.././XMLschemas/Content/extension/EntityExtension.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../XMLschemas/subset/niem/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../XMLschemas/subset/niem/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../.././XMLschemas/Content/subset/niem/2.0/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../XMLschemas/subset/niem/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../XMLschemas/subset/niem/structures/2.0/structures.xsd"/>
  <xsd:element abstract="false" name="EntityIdentification" nillable="false" type="Q1:EntityIdentityType">
    <xsd:annotation>
      <xsd:documentation source="">An identification of a plan</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PlanForActivityReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PlanType" i:namespace="http://it.ojp.gov/gist/200/Corrections/plan"/>
      </xsd:appinfo>
      <xsd:documentation source="">A plan for this activity</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PlanForConditionReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="MedicalConditionType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A Plan for a medical condition</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PlanGoalDescriptionText" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation source="">A description of the plan's goals</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PlanManagerReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A manager of the plan</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PlanStrategyDescriptionText" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation source="">A Description of the plan's strategy</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PlanStrategyStatus" nillable="false" type="ENTITY:StatusType">
    <xsd:annotation>
      <xsd:documentation source="">A Status relevant to the strategies plan</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PlanStrengthText" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation source="">A description of the strength of the plan</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PlanTargetCompletionDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation source="">A date the plan should be completed</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PlannedActivityReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ActivityType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A set of Planned activities</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="CasePlanType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PlanType" i:namespace="http://it.ojp.gov/gist/200/Corrections/plan"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a case plan</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PLAN:PlanType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="EducationPlanType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PlanType" i:namespace="http://it.ojp.gov/gist/200/Corrections/plan"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for an education plan. A plan is a series of planned activities.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PLAN:PlanType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="EmploymentPlanType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PlanType" i:namespace="http://it.ojp.gov/gist/200/Corrections/plan"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for an employment plan. A plan is a series of planned activities.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PLAN:PlanType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="HousingPlanType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PlanType" i:namespace="http://it.ojp.gov/gist/200/Corrections/plan"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a housing plan. A plan is a series of planned activities.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PLAN:PlanType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="MedicalConditionPlanType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PlanType" i:namespace="http://it.ojp.gov/gist/200/Corrections/plan"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a medical plan. A plan is a series of planned activities.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PLAN:PlanType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PLAN:PlanForConditionReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="PlanActivitiesAssociationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Association" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A relationship A data type for a relationship to activities in support of a plan</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="PLAN:PlannedActivityReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="PLAN:PlanForActivityReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="PlanType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a plan. A plan is a planned series of activities to achieve some purpose relative to a subject.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="PLAN:EntityIdentification"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PLAN:PlanGoalDescriptionText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PLAN:PlanStrategyDescriptionText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PLAN:PlanManagerReference"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PLAN:PlanStrategyStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="PLAN:PlanTargetCompletionDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="PLAN:PlanStrengthText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ReentryPlanType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PlanType" i:namespace="http://it.ojp.gov/gist/200/Corrections/plan"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a reentry plan</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PLAN:PlanType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="RemediationPlanType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PlanType" i:namespace="http://it.ojp.gov/gist/200/Corrections/plan"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a remediation plan. A plan is a series of planned activities.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PLAN:PlanType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
