GRAUML/Examples/SIRS/SIRS_GRA_EXAMPLE/SIRS-Service/artifacts/service model/information model/SORNA Relocation IEPD/external/OffPackage-ext.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ope="http://www.iir.com/sorna/NIEM/2.1/OP/extension/1.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.iir.com/sorna/NIEM/2.1/OP/extension/1.0" version="1">
  <xsd:import namespace="http://www.iir.com/sorna/NIEM/2.1/juris-codes" schemaLocation=".././external/juris-codes.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation=".././external/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation=".././external/jxdm.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../XMLschemas/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../XMLschemas/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../XMLschemas/appinfo/2.0/appinfo.xsd"/>
  <xsd:annotation>
    <xsd:documentation>SORNA Relocation Offender Package Extension Schema</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType abstract="false" mixed="false" name="PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship A data type for an association between a person and contact information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonContactInformationAssociationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:PersonContactInformationAssociationType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ope:ContactInformationCategoryText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="ContactInformationCategoryText" nillable="false">
    <xsd:annotation>
      <xsd:documentation>A kind of contact information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonContactInformationAssociation" nillable="false" type="ope:PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>An association between a person and contact information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ReceivingJurisdiction" nillable="false">
    <xsd:annotation>
      <xsd:documentation>An organization on the receiving side of an offender relocation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="DNACollectedIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if an offender's DNA was collected.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonDigitalImage" nillable="false">
    <xsd:annotation>
      <xsd:documentation>A photograph or image of a person in a digital format.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonSchoolAssociation" nillable="false" type="nc:PersonOrganizationAssociationType">
    <xsd:annotation>
      <xsd:documentation>An association between a person and a School.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ImageTakenDate" nillable="false">
    <xsd:annotation>
      <xsd:documentation>Date that an image was taken.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ImmigrationStatus" nillable="false">
    <xsd:annotation>
      <xsd:documentation>Status of a person who is an immigrant.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenderSupervisionInformation" nillable="false">
    <xsd:annotation>
      <xsd:documentation>Additional supervision information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="InternetIdentification" nillable="false">
    <xsd:annotation>
      <xsd:documentation>User ID's associated with Internet accounts and websites..</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SORNAJurisdictionCode" nillable="false">
    <xsd:annotation>
      <xsd:documentation>SORNA Jurisdiction code.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RegisteredOffenderIndicators" nillable="false">
    <xsd:annotation>
      <xsd:documentation>Additional SORNA indicators associated with a registered offender.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SendingJurisdiction" nillable="false">
    <xsd:annotation>
      <xsd:documentation>An organization on the sending side of an offender relocation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RegisteredOffender" nillable="false">
    <xsd:annotation>
      <xsd:documentation>True if an offender's fingerprints were collected.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PublicDisclosureIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if offender information can be disclosed to the public.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Person" nillable="false">
    <xsd:annotation>
      <xsd:documentation>A human being.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ImageDisplayIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if the image can be displayed in documentation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="FingerprintsCollectedIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if an offender's fingerprints were collected.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="JurisdictionArrivalDate" nillable="false">
    <xsd:annotation>
      <xsd:documentation>The sending jurisdiction’s estimated date of the offender’s physical arrival in the receiving jurisdiction, based upon information the offender provided the sending jurisdiction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ImagePrimaryIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if the image is the main image.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="JuvenileConvictionIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if an offender was convicted as a juvenile.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="JurisdictionDepartureDate" nillable="false">
    <xsd:annotation>
      <xsd:documentation>The sending jurisdiction’s estimated date of the offender’s physical departure from the sending jurisdiction, based upon information the offender provided to the sending jurisdiction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
