GRAUML/Examples/SIRS/SIRS_GRA_EXAMPLE/SIRS-Service/artifacts/service model/information model/SORNA Relocation IEPD/external/RelNotice-ext.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:rne="http://www.iir.com/sorna/NIEM/2.1/notification/extension/1.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.iir.com/sorna/NIEM/2.1/notification/extension/1.0" version="1">
  <xsd:import namespace="http://www.iir.com/sorna/NIEM/2.1/notification-list/1.0" schemaLocation=".././external/NoticeDescrList.xsd"/>
  <xsd:import namespace="http://www.iir.com/sorna/NIEM/2.1/juris-codes" schemaLocation=".././external/juris-codes.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation=".././external/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation=".././external/jxdm.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../XMLschemas/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../XMLschemas/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../XMLschemas/appinfo/2.0/appinfo.xsd"/>
  <xsd:annotation>
    <xsd:documentation>SORNA Relocation Notice Extension Schema</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element abstract="false" name="SORNAJurisdictionCode" nillable="false">
    <xsd:annotation>
      <xsd:documentation>SORNA Jurisdiction code.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="JurisdictionRegistrationDeadlineDate" nillable="false">
    <xsd:annotation>
      <xsd:documentation>A deadline date for alerting only used for the Relocation Confirmation Notice (RCONFN): Confirmation of receipt of the relocation package</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SORNAExchangePortalCaseLink" nillable="false">
    <xsd:annotation>
      <xsd:documentation>A case URL link in the SORNA Portal.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="NotificationMessageCode" nillable="false">
    <xsd:annotation>
      <xsd:documentation>Notice Codes for the SORNA Relocation Notice.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="JurisdictionArrivalDate" nillable="false">
    <xsd:annotation>
      <xsd:documentation>A date a person arrives at a jurisdiction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SendingJurisdiction" nillable="false">
    <xsd:annotation>
      <xsd:documentation>An organization on the sending side of an offender relocation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="JurisdictionDepartureDate" nillable="false">
    <xsd:annotation>
      <xsd:documentation>A date a person leaves a jurisdiction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ReceivingJurisdiction" nillable="false">
    <xsd:annotation>
      <xsd:documentation>An organization on the receiving side of an offender relocation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
