GRAUML/PriorVersions/Examples/Corrections/Corrections_GRA_EXAMPLE/Corrections_SSP_v_1.0.0/schemas/SIP/CIS.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:graa="http://ijis.org/GRA/Annotations"
                  xmlns:xmi="http://www.omg.org/spec/XMI/20110701"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:gra-cri="http://corrections.modeldriven.org"
                  xmlns:CRSUB="http://it.ojp.gov/gist/200/Corrections/SubjectMessageTypes"
                  xmlns:MetaR="http://it.ojp.gov/gist/201/Metadata/MetadataReference"
                  xmlns:MetaMSG="http://it.ojp.gov/gist/201/Metadata/MetaMessages">
   <wsdl:documentation>The service provides access to and updates for a correction's subject case file for the purposes of supporting reentry</wsdl:documentation>
   <wsdl:types>
      <xsd:schema>
         <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/SubjectMessageTypes"
                     schemaLocation="artifacts/service model/information model/Data/CorrectionsInformation/XMLschemas/exchange/SubjectMessageModel.xsd"/>
         <xsd:import namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference"
                     schemaLocation="artifacts/service model/information model/Reference/XMLschemas/Metadata/MetadataReference.xsd"/>
         <xsd:import namespace="http://it.ojp.gov/gist/201/Metadata/MetaMessages"
                     schemaLocation="artifacts/service model/information model//XMLschemas/Metadata/MetadataMessageModel.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="SubjectNotification">
      <wsdl:part name="SubjectInformationMessage"
                 element="CRSUB:SubjectInformationMessage">
         <wsdl:documentation>A data type for a message about one or more subjects</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="ExchangeAgreement">
      <wsdl:part name="ExchangeAgreementReference"
                 element="MetaR:ExchangeAgreementReference">
         <wsdl:documentation>A data type for metadata about messages and their supporting the exchange agreement</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="SubscriptionIDText">
      <wsdl:part name="SubscriptionIDTextType" element="CRSUB:SubscriptionIDTextType">
         <wsdl:documentation>An identity for a subscription</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="SubscriptionMessage">
      <wsdl:part name="SubscriptionMessage" element="CRSUB:SubscriptionMessage">
         <wsdl:documentation>A data type for a message to establish a subscription.</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="EntityQueryMessage">
      <wsdl:part name="EntityQueryMessage" element="CRSUB:EntityQueryMessage">
         <wsdl:documentation>A data type for a message to get information about any entity in a data resource</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="SubjectQueryMessage">
      <wsdl:part name="SubjectQueryMessage" element="CRSUB:SubjectQueryMessage">
         <wsdl:documentation>A data type for a query about an individual</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="RepositoryMetadataMessage">
      <wsdl:part name="RepositoryMetadataMessage"
                 element="MetaMSG:RepositoryMetadataMessage">
         <wsdl:documentation>A data type for a repository containing  category and exchange agreement metadata. The IDs of the elements in this metadata are referenced from messages</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="OperationResult">
      <wsdl:part name="OperationResult" element="CRSUB:OperationResult">
         <wsdl:documentation>A data type for the result of an operation</wsdl:documentation>
      </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="Subscriber">
      <wsdl:operation name="Notify"/>
   </wsdl:portType>
   <wsdl:portType name="SubscriptionPoint">
      <wsdl:operation name="CancelSubscription"/>
      <wsdl:operation name="SubscribeToSubject"/>
   </wsdl:portType>
   <wsdl:portType name="SubjectQueryPoint">
      <wsdl:operation name="EntityQuery">
         <wsdl:documentation>An operation to get all or part of information about an entity related to a subject case file. This is used to get more information about a related entity.</wsdl:documentation>
      </wsdl:operation>
      <wsdl:operation name="SubjectQuery">
         <wsdl:documentation>An operation to get all or part of a subjects case file</wsdl:documentation>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:portType name="MetadataPort">
      <wsdl:operation name="GetMetadata"/>
   </wsdl:portType>
   <wsdl:portType name="SubjectUpdatePoint">
      <wsdl:operation name="SubjectUpdate"/>
   </wsdl:portType>
   <wsdl:binding name="SubscriberBinding" type="Subscriber">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Notify">
         <soap:operation soapAction="Notify" style="document"/>
         <wsdl:input>
            <soap:header use="literal"
                         message="CRSUB:SubjectInformationMessage"
                         part="SubjectNotification"/>
            <soap:header use="literal"
                         message="MetaR:ExchangeAgreementReference"
                         part="ExchangeAgreement"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="SubscriptionPointBinding" type="SubscriptionPoint">
      <http:binding verb="GET"/>
      <wsdl:operation name="CancelSubscription">
         <http:operation location="CancelSubscription"/>
         <wsdl:input>
            <mime:content type="text/xml"/>
            <mime:content type="text/xml"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubscribeToSubject">
         <http:operation location="SubscribeToSubject"/>
         <wsdl:input>
            <mime:content type="text/xml"/>
            <mime:content type="text/xml"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="SubjectQueryPointBinding" type="SubjectQueryPoint">
      <http:binding verb="GET"/>
      <wsdl:operation name="EntityQuery">
         <http:operation location="EntityQuery"/>
         <wsdl:input>
            <mime:content type="text/xml"/>
            <mime:content type="text/xml"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="SubjectQuery">
         <http:operation location="SubjectQuery"/>
         <wsdl:input>
            <mime:content type="text/xml"/>
            <mime:content type="text/xml"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="MetadataPortBinding" type="MetadataPort">
      <http:binding verb="GET"/>
      <wsdl:operation name="GetMetadata">
         <http:operation location="GetMetadata"/>
         <wsdl:output>
            <mime:content type="text/xml"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="SubjectUpdatePointBinding" type="SubjectUpdatePoint">
      <http:binding verb="GET"/>
      <wsdl:operation name="SubjectUpdate">
         <http:operation location="SubjectUpdate"/>
         <wsdl:input>
            <mime:content type="text/xml"/>
            <mime:content type="text/xml"/>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CorrectionsSubscriberWSSIPService">
      <wsdl:port name="Subscriber" binding="SubscriberBinding">
         <soap:address location="http://Subscriber"/>
      </wsdl:port>
   </wsdl:service>
   <wsdl:service name="CorrectionsCaseFileProviderRSWS-SIPService">
      <wsdl:port name="SubscriptionPoint" binding="SubscriptionPointBinding">
         <soap:address location="http://SubscriptionPoint"/>
      </wsdl:port>
      <wsdl:port name="SubjectQueryPoint" binding="SubjectQueryPointBinding">
         <soap:address location="http://SubjectQueryPoint"/>
      </wsdl:port>
      <wsdl:port name="MetadataPort" binding="MetadataPortBinding">
         <soap:address location="http://MetadataPort"/>
      </wsdl:port>
      <wsdl:port name="SubjectUpdatePoint" binding="SubjectUpdatePointBinding">
         <soap:address location="http://SubjectUpdatePoint"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
