GRAUML/Nonnormative/Examples/SIRS/SIRS/SIRS-Service/artifacts/service model/information model/SORNA Relocation IEPD/external/OffPackage-ext.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:Q1="http://www.iir.com/sorna/NIEM/2.1/juris-codes" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:ope="http://www.iir.com/sorna/NIEM/2.1/OP/extension/1.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.iir.com/sorna/NIEM/2.1/OP/extension/1.0" version="1">
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation=".././external/niem-core.xsd"/>
  <xsd:import namespace="http://www.iir.com/sorna/NIEM/2.1/juris-codes" schemaLocation=".././external/juris-codes.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation=".././external/jxdm.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../XMLschemas/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../XMLschemas/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../XMLschemas/structures/2.0/structures.xsd"/>
  <xsd:annotation>
    <xsd:documentation>SORNA Relocation Offender Package Extension Schema</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType abstract="false" mixed="false" name="RegisteredOffenderIndicatorsType">
    <xsd:annotation>
      <xsd:documentation>A data type for registered sex offender indicators.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ope:PublicDisclosureIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ope:ImageDisplayIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ope:DNACollectedIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ope:FingerprintsCollectedIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ope:JuvenileConvictionIndicator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="PublicDisclosureIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if offender information can be disclosed to the public.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ImageDisplayIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if the image can be displayed in documentation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="DNACollectedIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if an offender's DNA was collected.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="FingerprintsCollectedIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if an offender's fingerprints were collected.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="JuvenileConvictionIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if an offender was convicted as a juvenile.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="RegisteredOffenderType">
    <xsd:annotation>
      <xsd:documentation>A data type for information related to a registered sex offender.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="RegisteredOffenderType" i:namespace="http://niem.gov/niem/domains/jxdm/4.1"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:RegisteredOffenderType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="j:AbscondIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ope:RegisteredOffenderIndicators"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ope:ImmigrationStatus"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ope:InternetIdentification"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ope:OffenderSupervisionInformation"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="RegisteredOffenderIndicators" nillable="false" type="ope:RegisteredOffenderIndicatorsType">
    <xsd:annotation>
      <xsd:documentation>Additional SORNA indicators associated with a registered offender.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ImmigrationStatus" nillable="false" type="nc:StatusType">
    <xsd:annotation>
      <xsd:documentation>Status of a person who is an immigrant.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="InternetIdentification" nillable="false" type="nc:IdentificationType">
    <xsd:annotation>
      <xsd:documentation>User ID's associated with Internet accounts and websites..</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenderSupervisionInformation" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>Additional supervision information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="PersonImageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person image.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ImageType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ImageType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ope:ImageTakenDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ope:ImagePrimaryIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ope:ImageDisplayIndicator"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="ImageTakenDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation>Date that an image was taken.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ImagePrimaryIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if the image is the main image.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="JurisdictionType">
    <xsd:annotation>
      <xsd:documentation>A data type for A data type representing the jurisdiction.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="OrganizationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:OrganizationType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ope:SORNAJurisdictionCode"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ope:JurisdictionDepartureDate"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ope:JurisdictionArrivalDate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="SORNAJurisdictionCode" nillable="false" type="Q1:SORNAJurisdictionCodeType">
    <xsd:annotation>
      <xsd:documentation>SORNA Jurisdiction code.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="JurisdictionDepartureDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation>The sending jurisdiction’s estimated date of the offender’s physical departure from the sending jurisdiction, based upon information the offender provided to the sending jurisdiction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="JurisdictionArrivalDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation>The sending jurisdiction’s estimated date of the offender’s physical arrival in the receiving jurisdiction, based upon information the offender provided the sending jurisdiction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonType" i:namespace="http://niem.gov/niem/domains/jxdm/4.1"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="j:PersonType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="ope:PersonDigitalImage"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="PersonDigitalImage" nillable="false" type="ope:PersonImageType">
    <xsd:annotation>
      <xsd:documentation>A photograph or image of a person in a digital format.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="RegisteredSexOffenderPackageType">
    <xsd:annotation>
      <xsd:documentation>A data type for sex offender relocation package.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DocumentType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:DocumentType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ope:RegisteredOffender"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ope:SendingJurisdiction"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ope:ReceivingJurisdiction"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="ope:Person"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:ContactInformation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:Location"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:Organization"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:Vehicle"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:ResidenceAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="j:Incident"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="j:Offense"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:Person"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonConveyanceAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonOrganizationAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonEmploymentAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="j:OffenseIncidentAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="j:ActivityVictimAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ope:PersonSchoolAssociation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ope:PersonContactInformationAssociation"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="RegisteredOffender" nillable="false" type="ope:RegisteredOffenderType">
    <xsd:annotation>
      <xsd:documentation>True if an offender's fingerprints were collected.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SendingJurisdiction" nillable="false" type="ope:JurisdictionType">
    <xsd:annotation>
      <xsd:documentation>An organization on the sending side of an offender relocation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ReceivingJurisdiction" nillable="false" type="ope:JurisdictionType">
    <xsd:annotation>
      <xsd:documentation>An organization on the receiving side of an offender relocation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Person" nillable="false" type="ope:PersonType">
    <xsd:annotation>
      <xsd:documentation>A human being.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonSchoolAssociation" nillable="false" type="nc:PersonOrganizationAssociationType">
    <xsd:annotation>
      <xsd:documentation>An association between a person and a School.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonContactInformationAssociation" nillable="false" type="ope:PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>An association between a person and contact information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship A data type for an association between a person and contact information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonContactInformationAssociationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:PersonContactInformationAssociationType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ope:ContactInformationCategoryText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="ContactInformationCategoryText" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A kind of contact information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
