GRAUML/Examples/Corrections/Corrections_GRA_EXAMPLE/Corrections_SSP_v_1.0.0/artifacts/service model/information model/GRAMessageMetadata/XMLschemas/Metadata/ExchangeAgreementExtension.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:AGREE="http://it.ojp.gov/gist/201/Metadata/exchangeAgreement" xmlns:MetaR="http://it.ojp.gov/gist/201/Metadata/MetadataReference" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://it.ojp.gov/gist/201/Metadata/exchangeAgreement" version="&quot;1&quot;">
  <xsd:import namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference" schemaLocation="../../XMLschemas/Metadata/MetadataReference.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../XMLschemas/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../XMLschemas/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../XMLschemas/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:annotation>
    <xsd:documentation>A data schema describing agreements between exchange partners.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType abstract="false" mixed="false" name="ExchangePolicyType">
    <xsd:annotation>
      <xsd:documentation>A data type for an individual policy to include or exclude data in an exchange agreement</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="AGREE:FilterCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AGREE:SelectByDataCategoryID"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="AGREE:SubjectElement"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AGREE:SelectByContentCategoryID"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:UpdateAllowedIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:MinimumCardinalityNumeric"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:MaximumCardinalityNumeric"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="FilterCode" nillable="false" type="AGREE:FilterCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A code to include or exclude referenced elements.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="FilterCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a Code used to filter data in an exchange agreement</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="niem-xsd:token">
        <xsd:enumeration value="Restrict">
          <xsd:annotation>
            <xsd:documentation>Do not include element(s)</xsd:documentation>
          </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="Allow">
          <xsd:annotation>
            <xsd:documentation>Include elements in allowed data</xsd:documentation>
          </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="AllowRecursive">
          <xsd:annotation>
            <xsd:documentation>Include element and all sub-elements (owned elements)</xsd:documentation>
          </xsd:annotation>
        </xsd:enumeration>
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="SelectByDataCategoryID" nillable="false" type="MetaR:CategoryURIType">
    <xsd:annotation>
      <xsd:documentation>An identifier for categories of element(s) applicable to this policy</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubjectElement" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A Vocabulary element which is the subject of the policy</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ExchangeElementVocabularyType" i:namespace="http://it.ojp.gov/gist/201/Metadata/exchangeAgreement"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="ExchangeElementVocabularyType">
    <xsd:annotation>
      <xsd:documentation>A data type for a data element of the exchange, defined in an XSD, referenced in one or more exchange agreements.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="AGREE:LabelText"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="AGREE:SubjectElementURI"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:SensitivityDescriptionText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="AGREE:SubElement"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="AGREE:ElementPolicies"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AGREE:DataCategoryID"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:DetailLevel"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:HelpText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="LabelText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A user meaningful  name or label for the element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubjectElementURI" nillable="false" type="MetaR:XSDElementIDType">
    <xsd:annotation>
      <xsd:documentation>A URI of the element in the defining XSD.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SensitivityDescriptionText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A description of the sensitivity of the element, the sensitivity should also be entered as a category.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubElement" nillable="false" type="AGREE:ExchangeElementVocabularyType">
    <xsd:annotation>
      <xsd:documentation>A Nested element in vocabulary</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ElementPolicies" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A set of policies for an element</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ExchangePolicyType" i:namespace="http://it.ojp.gov/gist/201/Metadata/exchangeAgreement"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="DataCategoryID" nillable="false" type="MetaR:CategoryURIType">
    <xsd:annotation>
      <xsd:documentation>An identifier for A categorization of the data element, primarily for privacy and security.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="DetailLevel" nillable="false" type="MetaR:DetailLevelCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A level of detail this element represents. Messages requesting this level of detail or more will include this element if otherwise authorized in policy.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="HelpText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A Text to display to the user to aid in filling in the element.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SelectByContentCategoryID" nillable="false" type="MetaR:CategoryURIType">
    <xsd:annotation>
      <xsd:documentation>An identifier for a selection category. Element(s) selected should be based on the category of the referenced element (category in the content).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="UpdateAllowedIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if an information consumer is allowed to update this information and all nested information in this repository; false if update is not allowed. Where an update is being made to existing information Metadata must be attached to the updated elements to allow data synchronization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="MinimumCardinalityNumeric" nillable="false" type="niem-xsd:integer">
    <xsd:annotation>
      <xsd:documentation>A Minimum number allowed - default is unrestricted</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="MaximumCardinalityNumeric" nillable="false" type="niem-xsd:integer">
    <xsd:annotation>
      <xsd:documentation>A Maximum number of element allowed - default is unrestricted</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="ExchangePartyType">
    <xsd:annotation>
      <xsd:documentation>A data type for a role of one of the parties in an exchange agreement</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:ExchangePartyDescriptionText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AGREE:AuthorizedPartyCategoryID"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AGREE:AuthorizedPartyURI"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AGREE:AuthorizationCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="ExchangePartyDescriptionText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A description of the exchange party - their role in the exchange.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AuthorizedPartyCategoryID" nillable="false" type="MetaR:CategoryURIType">
    <xsd:annotation>
      <xsd:documentation>An identifier for a set of categories applicable to this party. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AuthorizedPartyURI" nillable="false" type="MetaR:InformationRecordLinkType">
    <xsd:annotation>
      <xsd:documentation>A set of required identifiers for exchange parties - to be used where the party must be a specific entity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AuthorizationCode" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A set of authorization attributes and/or roles that must be validated for the party to validate an exchange based on this agreement. The syntax of these attributes and/or roles will be defined based on the authorization specification used but shall default to GFIPM.
The party must match at least one of the authorization codes enumerated.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="ExchangeAgreementType">
    <xsd:annotation>
      <xsd:documentation>A data type for a exchange agreement representing an information exchange agreement. The exchange agreement identifies the parties of an exchange and subsets the information that the information consumer is eligible to see. All messages carry an exchange agreement and implementations must subset the exchanged data based on this metadata. This results in a small number of messages that cover many use cases.
An exchange agreement may also represent an "MOU" (Memo of understanding) between exchange partners.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="AGREE:ExchangeAgreementID"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:ExchangeSchemaURI"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="AGREE:InformationProvider"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="AGREE:InformationConsumer"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="AGREE:ExchangeVocabulary"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="AGREE:ExchangePolicy"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="AGREE:SubjectCategoryID"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:ParentExchangeAgreement"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:AgreementDocument"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:ProcessStepDescriptionText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:ProcessStepReferenceURI"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:MetadataURI"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:IsPrivateIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="AGREE:LastUpdateDate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="ExchangeAgreementID" nillable="false" type="MetaR:ExchangeAgreementURIType">
    <xsd:annotation>
      <xsd:documentation>An identifier for this release consent</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ExchangeSchemaURI" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation>A location for the schema that contains or references the elements for this exchange.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="InformationProvider" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A description of providers of information for this agreement.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ExchangePartyType" i:namespace="http://it.ojp.gov/gist/201/Metadata/exchangeAgreement"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="InformationConsumer" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A description of consumers of information for this agreement.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ExchangePartyType" i:namespace="http://it.ojp.gov/gist/201/Metadata/exchangeAgreement"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ExchangeVocabulary" nillable="false" type="AGREE:ExchangeElementVocabularyType">
    <xsd:annotation>
      <xsd:documentation>A  set of elements that are meaningful for this exchange agreement.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ExchangePolicy" nillable="false" type="AGREE:ExchangePolicyType">
    <xsd:annotation>
      <xsd:documentation>An ordered list of policies for including or excluding elements</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubjectCategoryID" nillable="false" type="MetaR:CategoryURIType">
    <xsd:annotation>
      <xsd:documentation>An identifier for a set of Categories for this exchange agreement</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ParentExchangeAgreement" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>A reference to an parent exchange agreement. The polices in the referenced exchange agreement shall be processed prior to the policies in this exchange agreement.</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ExchangeAgreementType" i:namespace="http://it.ojp.gov/gist/201/Metadata/exchangeAgreement"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AgreementDocument" nillable="false" type="MetaR:InformationRecordLinkType">
    <xsd:annotation>
      <xsd:documentation>A document that further explains this exchange agreement</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ProcessStepDescriptionText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A step in the process or choreography that this exchange enables.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ProcessStepReferenceURI" nillable="false" type="MetaR:InformationRecordLinkType">
    <xsd:annotation>
      <xsd:documentation>A reference to a process model element defining the step in the process or choreography that this exchange enables.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="MetadataURI" nillable="false" type="MetaR:MetadataRepositoryURIType">
    <xsd:annotation>
      <xsd:documentation>An external repository link. If this element is set the category is normatively defined at the referenced URI and may be dereferenced using "GetMetadata" at the referenced URI. The category should be obtained from the referenced URI, any local detail is a "cache" of the external URI.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="IsPrivateIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>True if the exchange agreement should not be published to external parties; false if the agreement is public.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="LastUpdateDate" nillable="false" type="niem-xsd:dateTime">
    <xsd:annotation>
      <xsd:documentation>A date representing the last update of this element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
