GRAUML/Nonnormative/Eclipse/org.ijis.gra.annotation/src/main/resources/model/data.grauml.graAnnotationModelXMI.copy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:graa="http://ijis.org/GRA/Annotations" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ijis.org/GRA/Annotations">
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/>
  <xsd:simpleType name="ExchangePattern">
    <xsd:annotation>
      <xsd:documentation>Represents a GRA Exchange Pattern.
This type should define the message exchange patterns leveraged by the service actions.
The GRA recognizes the following message exchange patterns:
The FIRE-AND-FORGET pattern calls for the sender of a message (which could be the service consumer or service) to send the message and not expect a reply message back from the recipient. This pattern is useful for one-way transmission of information, such as notification that an event has occurred.
The REQUEST-REPLY pattern calls for the sender of a message to send the message and expect a reply from the recipient.
These two patterns are considered “primitive” patterns, in that they are the fundamental building blocks of more complex information exchange scenarios. For instance, the complex PUBLISH-SUBSCRIBE pattern involves an initial request-reply exchange in which the subscriber subscribes to a service, followed by the service using the fire-and-forget pattern to notify subscribers of an event.
Within the service interface description, the behavioral model should describe message exchanges in terms of these two primitive exchange patterns. Each action can specify a different message exchange pattern.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="unknown">
        <xsd:annotation>
          <xsd:documentation>This is a temporary workaround for some EMF issues.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="enquiry"/>
      <xsd:enumeration value="subscription"/>
      <xsd:enumeration value="notification"/>
      <xsd:enumeration value="update"/>
      <xsd:enumeration value="message"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParameterUse">
    <xsd:annotation>
      <xsd:documentation>Defines the direction of a message associated with the parameters and exceptions of an operation.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="unknown">
        <xsd:annotation>
          <xsd:documentation>This is a temporary workaround for some EMF issues.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="in">
        <xsd:annotation>
          <xsd:documentation>Specifies that the corresponding operation parameter has an in direction.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="out">
        <xsd:annotation>
          <xsd:documentation>Specifies that the corresponding operation parameter has an out direction.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="inout">
        <xsd:annotation>
          <xsd:documentation>Specifies that the corresponding operation parameter has an in and out direction.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="exception">
        <xsd:annotation>
          <xsd:documentation>Specifies that the usage for the message is as a fault, or exception, on the operation.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="InteractionRequirements">
    <xsd:annotation>
      <xsd:documentation>The Service Interaction Requirements.
This may be specified at multiple levels and it assumed to default to the level above. If not specified in a ServiceDescription it defaults to GRA values (or false if not specified).</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="extendedRequirement" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>ExtendedRequirement provides an arbitrary extension mechanism whereby InteractionRequirement may be notated on the containing element. The intent is that the phase-2 transform may then respect these flags and produce the desired result. Unknown extensions  are ignored.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="serviceConsumerAuthentication" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has service consumer authentications, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceConsumerAuthorization" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has service consumer authorizations, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="identityAndAttributeAssertionTransmission" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has identity and attribute assertion transmissions, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceAuthentication" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has service authentications, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="messageNonrepudiation" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has message non-repudiation, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="messageIntegrity" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has message integrity, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="messageConfidentiality" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has message confidentiality, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="messageAddressing" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has message addressing, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="reliability" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has reliability, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="transactionSupport" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has transaction support, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceMetadataAvailability" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has metadata availability, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="interfaceDescriptionRequirements" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has interface description requirements, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="logging" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has logging, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceResponsiveness" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True if the service has service responsiveness, false otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="InteractionRequirements" type="graa:InteractionRequirements">
    <xsd:annotation>
      <xsd:documentation>The Service Interaction Requirements.
This may be specified at multiple levels and it assumed to default to the level above. If not specified in a ServiceDescription it defaults to GRA values (or false if not specified).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="true" name="GraServiceAnnotationBase">
    <xsd:annotation>
      <xsd:documentation>Abstract base class for all GRA Service annotation metadata classes.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="flag" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Flag provides an arbitrary extension mechanism whereby any business or technology choice may be notated on the containing element. The intent is that a user-supplied phase-2 template will then respect these flags and produce the desired result. Unknown flags are ignored.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requirement" type="graa:InteractionRequirements">
        <xsd:annotation>
          <xsd:documentation>The service interaction requirements.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="modelReference" type="graa:ModelReference">
        <xsd:annotation>
          <xsd:documentation>Reference to a model element annotated by this element.  Modeled as a Realization.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The element name. Derived from the UML InstanceSpecification's name, or if not set will default to the realized element's name.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="documentation" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The documentation for this element.  Derived from a realized element or, if not provided, the element's documentation.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="template" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Template is the name of an XSLT template that will be called to process the containing element thus overriding the default mapping.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="GraServiceAnnotationBase" type="graa:GraServiceAnnotationBase">
    <xsd:annotation>
      <xsd:documentation>Abstract base class for all GRA Service annotation metadata classes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ModelReference">
    <xsd:annotation>
      <xsd:documentation>Model references are generated from Realizations during phase-1.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="diagramLink" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>URIs of diagrams associated with the realized element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="model" type="graa:Model">
        <xsd:annotation>
          <xsd:documentation>The model resource containing the realized element.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The name of the realized element</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="documentation" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The documentation of the realized element</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="elementId" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The id of the realized element.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="ModelReference" type="graa:ModelReference">
    <xsd:annotation>
      <xsd:documentation>Model references are generated from Realizations during phase-1.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Model">
    <xsd:annotation>
      <xsd:documentation>A representation of the model resource associated with a ModelReference and generated as part of the generation of the ModelReference.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="modelUri" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>URI for the model resource.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="label" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The name of the model.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="Model" type="graa:Model">
    <xsd:annotation>
      <xsd:documentation>A representation of the model resource associated with a ModelReference and generated as part of the generation of the ModelReference.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Participant">
    <xsd:annotation>
      <xsd:documentation>A participant in a service interaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="participatingOrganization" type="graa:Organization">
            <xsd:annotation>
              <xsd:documentation>An organization acting as a participant.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="generalization" type="graa:Participant"/>
        </xsd:choice>
        <xsd:attribute name="participatingOrganization" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>An organization acting as a participant.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Participant" type="graa:Participant">
    <xsd:annotation>
      <xsd:documentation>A participant in a service interaction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Organization">
    <xsd:annotation>
      <xsd:documentation>A data structure describing information about an organization.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="organizationPointOfContact" type="graa:Person">
            <xsd:annotation>
              <xsd:documentation>A person designated as the point of contact for an organization.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="organizationAcronym" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>An acronym for the organization.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="organizationFullAddressText" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A physical address of an organization in full text form.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="organizationWebSiteUrl" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>An internet address of the organization's web site.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="organizationRoleDescriptionText" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>An organization's role defined in free form text. Examples could be creator, provider, owner, maintainer, authorities source, etc.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="organizationRoleDetailedDescriptionText" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A very detailed textual explanation of the role and responsibilities of an organization.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Organization" type="graa:Organization">
    <xsd:annotation>
      <xsd:documentation>A data structure describing information about an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Person">
    <xsd:annotation>
      <xsd:documentation>A data structure describing a person's name and the means to contact that person.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:attribute name="contactPersonEmailId" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>An email address of a person.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="contactPersonPhoneNumberId" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A phone number of the person.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="contactPersonAddress" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A physical address of a person in full text form.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Person" type="graa:Person">
    <xsd:annotation>
      <xsd:documentation>A data structure describing a person's name and the means to contact that person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Interface">
    <xsd:annotation>
      <xsd:documentation>Represents an abstract service interface.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="operation" type="graa:Operation">
            <xsd:annotation>
              <xsd:documentation>The operations contained by the interface.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Interface" type="graa:Interface">
    <xsd:annotation>
      <xsd:documentation>Represents an abstract service interface.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Operation">
    <xsd:annotation>
      <xsd:documentation>A data structure representing a service action.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="parameter" type="graa:Parameter">
            <xsd:annotation>
              <xsd:documentation>The parameters of an operation</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="messageExchangePattern" type="graa:ExchangePattern">
          <xsd:annotation>
            <xsd:documentation>Represents the GRA message exchange pattern associated with the operation.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="isAsynchronous" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>True if the operation is asynchronous, false otherwise.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="actionName" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>The name of the action.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="actionPurpose" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A description of the purpose performed by this service action.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="actionProvenance" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A description of provenance information for this action. 
Used to populate Action Model section of SDD document.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Operation" type="graa:Operation">
    <xsd:annotation>
      <xsd:documentation>A data structure representing a service action.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Parameter">
    <xsd:annotation>
      <xsd:documentation>Represents the information content of parameters defined in an operation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="message" type="graa:Message">
            <xsd:annotation>
              <xsd:documentation>The information transfered in an operation </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="use" type="graa:ParameterUse" use="required">
          <xsd:annotation>
            <xsd:documentation>The "direction" of the message.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Parameter" type="graa:Parameter">
    <xsd:annotation>
      <xsd:documentation>Represents the information content of parameters defined in an operation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Message">
    <xsd:annotation>
      <xsd:documentation>Represents the data of an operation parameter or a signal.
</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="elementModelReference" type="graa:ModelReference">
            <xsd:annotation>
              <xsd:documentation>Reference to a model element annotated by this element.  More specifically, it is the ModelReference associated with a message part element.  This may be derived from the NIEM type by selecting a NIEM property (i.e., xml element) whose type is the message part type.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="prefix" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Prefix used to reference Schema Namespace of a type reference.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="elementPrefix" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Prefix used to reference Schema Namespace of an element reference.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="elementName" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Message" type="graa:Message">
    <xsd:annotation>
      <xsd:documentation>Represents the data of an operation parameter or a signal.
</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Service">
    <xsd:annotation>
      <xsd:documentation>Describes a service</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="port" type="graa:Port">
        <xsd:annotation>
          <xsd:documentation>The port specification for the ports owned by the service component realizing this Service. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="serviceProvider" type="graa:Participant">
        <xsd:annotation>
          <xsd:documentation>The provider of the service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sampleData" type="graa:SampleData">
        <xsd:annotation>
          <xsd:documentation>Sample data associated with service testing.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="Service" type="graa:Service">
    <xsd:annotation>
      <xsd:documentation>Describes a service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Port">
    <xsd:annotation>
      <xsd:documentation>Represents a service port, realizes a UML Port on the Service Component.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="interface" type="graa:Interface">
            <xsd:annotation>
              <xsd:documentation>Interfaces provided by the Port.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="addressUri" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The &lt;soap:address&gt; location of a &lt;wsdl:port&gt;. Derived by default in phase-2 from ServiceInterfaceURI+"/"+"Name" but MAY be changed in the model</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Port" type="graa:Port">
    <xsd:annotation>
      <xsd:documentation>Represents a service port, realizes a UML Port on the Service Component.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SampleData">
    <xsd:annotation>
      <xsd:documentation>Represents the information associated with a service test: the input and expected output associated with an operation under test.
[This is a placeholder - requires more development]</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="input" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The value of input parameters for a service operation test. Input must be in the same order as parameters.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="expectedOutput" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The expected output of a service operation test.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="SampleData" type="graa:SampleData">
    <xsd:annotation>
      <xsd:documentation>Represents the information associated with a service test: the input and expected output associated with an operation under test.
[This is a placeholder - requires more development]</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceInteraction">
    <xsd:annotation>
      <xsd:documentation>Represents exchanges between parties. Realizes an Interaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="participant" type="graa:Participant">
            <xsd:annotation>
              <xsd:documentation>The participants in the interaction, each of which realizes an Actor that is involved in the interaction.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceInteraction" type="graa:ServiceInteraction">
    <xsd:annotation>
      <xsd:documentation>Represents exchanges between parties. Realizes an Interaction.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="UseCase">
    <xsd:annotation>
      <xsd:documentation>[Derived from] Use case or package with use cases. In the case of a package, each contained use case shall produce a use case element in Phase-1.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="provider" type="graa:Participant">
            <xsd:annotation>
              <xsd:documentation>Participants that provide services.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="consumer" type="graa:Participant">
            <xsd:annotation>
              <xsd:documentation>Participants that consume services.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="UseCase" type="graa:UseCase">
    <xsd:annotation>
      <xsd:documentation>[Derived from] Use case or package with use cases. In the case of a package, each contained use case shall produce a use case element in Phase-1.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Agreement">
    <xsd:annotation>
      <xsd:documentation>A data structure representing an agreement, formal or informal, associated with a service, application or thing, tangible or otherwise.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="documentation" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A free text description of an agreement, formal or informal, associated with a service, application or thing, tangible or otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="agreementUri" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A locator referencing an agreement, formal or informal, associated with a service, application or thing, tangible or otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="automatedAgreementIndicator" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Indicates whether the policy or contract represented by the Agreement has an automated implementation.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="Agreement" type="graa:Agreement">
    <xsd:annotation>
      <xsd:documentation>A data structure representing an agreement, formal or informal, associated with a service, application or thing, tangible or otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="IepdReference">
    <xsd:annotation>
      <xsd:documentation>A data structure describing the name and location of an IEPD. An annotation element may be related to an IEPD  by means of a Usage dependency, in which case the properties of this structure are derived from the used IEPD.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A human readable identification of the IEPD</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iepdurl" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A URL where the IEPD is posted and available.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="IepdReference" type="graa:IepdReference">
    <xsd:annotation>
      <xsd:documentation>A data structure describing the name and location of an IEPD. An annotation element may be related to an IEPD  by means of a Usage dependency, in which case the properties of this structure are derived from the used IEPD.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SecurityClassification">
    <xsd:annotation>
      <xsd:documentation>Any applicable classification of the security level of the information exchanged by the service, such as SBU, Secret, etc. If there is no strict classification this field can contain a brief statement regarding the security of the data.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Any applicable classification of the security level of the information exchanged by the service, such as SBU, Secret, etc. If there is no strict classification this field can contain a brief statement regarding the security of the data.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="SecurityClassification" type="graa:SecurityClassification">
    <xsd:annotation>
      <xsd:documentation>Any applicable classification of the security level of the information exchanged by the service, such as SBU, Secret, etc. If there is no strict classification this field can contain a brief statement regarding the security of the data.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceCapability">
    <xsd:annotation>
      <xsd:documentation>A free text format description of the capability provided by a service. Per GRA, a capability represents the provider's view of a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="documentation" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A free text format description of the capability provided by a service.
[Derived from] Element Documentation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="ServiceCapability" type="graa:ServiceCapability">
    <xsd:annotation>
      <xsd:documentation>A free text format description of the capability provided by a service. Per GRA, a capability represents the provider's view of a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceDescription">
    <xsd:annotation>
      <xsd:documentation>A data structure representing the details describing a service.
[Realizes] Collaboration
[Uses] IEPD</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:ServiceIdentification">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="classification" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>A collection of classifications defining the relationship between a service and an applicable enterprise architecture and business reference model.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="sponsor" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>A collection of professional or governmental organization(s) or person that sponsored, contributed, or participated in the development of a service.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceDescriptionKeywordText" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Search terms that would not otherwise be in other metadata attributes (e.g., Child Support Warrant, Domestic Relations Warrant, Domestics).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="endorsements" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>A collection of names and acronyms of professional or governmental organizations or people that endorse this service as an official business exchange.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="exchangePartner" type="graa:Participant">
            <xsd:annotation>
              <xsd:documentation>The participants in a service.In the case of a package, each contained actor shall produce a use Participant element in Phase-1.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="servicePurpose" type="graa:Description">
            <xsd:annotation>
              <xsd:documentation>A purpose which the service intends or resolves to perform or accomplish.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceScopeDescription" type="graa:Description">
            <xsd:annotation>
              <xsd:documentation>A description of the scope of a service.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceCapability" type="graa:ServiceCapability">
            <xsd:annotation>
              <xsd:documentation>An enumeration of the capabilities provided by a service.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceDependency" type="graa:ServiceIdentification">
            <xsd:annotation>
              <xsd:documentation>Services upon which a service directly depends to deliver its real world effects.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="iepdReference" type="graa:IepdReference">
            <xsd:annotation>
              <xsd:documentation>Reference information identifying an Information Exchange Package Document which the service uses in its data model
[Derived from] &lt;Uses&gt; relation to IEPD</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceSecurityClassification" type="graa:SecurityClassification">
            <xsd:annotation>
              <xsd:documentation>The service's security classification.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceLevelAgreement" type="graa:ServiceLevelAgreement">
            <xsd:annotation>
              <xsd:documentation>A set of service level agreements.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="relatedOrganization" type="graa:Organization">
            <xsd:annotation>
              <xsd:documentation>A collection of organizations that are somehow related to the service.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceInterface" type="graa:ServiceInterfaceSpecification">
            <xsd:annotation>
              <xsd:documentation>A set of service interface specifications.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="realWorldEffect" type="graa:UseCase">
            <xsd:annotation>
              <xsd:documentation>A collection of the Real World Effects caused by the Service.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceInteraction" type="graa:ServiceInteraction">
            <xsd:annotation>
              <xsd:documentation>A Documented Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="additionalInformation" type="graa:Description">
            <xsd:annotation>
              <xsd:documentation>This property contains any additional information pertinent to the service which should be included in this description but does not belong elsewhere.  This could be information about future capabilities the service could provide, information regarding specific conditions which govern the use of the service, information regarding specific domain capabilities the service fulfills, etc.  If required, subsections can be created to further structure the information provided in this section.

Additional artifacts related to this section's content can be provided in the artifacts folder of the service package.
  
[Service Abbreviation] SSP [Service Version]\artifacts

If such artifacts are provided,  they should be referenced here.  A description of the artifact and a link to it should be provided as part of the reference.

This property is used to populate the Additional Information section of the SDD document.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="executionContext" type="graa:Description">
            <xsd:annotation>
              <xsd:documentation>Service descriptions should include all information pertinent to the production or consumption of the service, including expected infrastructure functions and other dependencies.  No information directly pertaining to implementation platform or technology should be included in the service description.  Conversely, platform capabilities which are technology-independent should be included.  For example, stating in the service description that services that are encrypted are being provided by the infrastructure is preferred compared to stating that the Public Key Infrastructure (PKI) infrastructure is expected.  It is expected that the services defined using this document will minimize the dependence on specific technical infrastructure to provide the greatest flexibility and interoperability for service providers and service consumers. 

It is also important to note that the information in this property will be applicable to more than one service, and these required capabilities will be provisioned as part of the infrastructure layer of the architecture.  For instance, if information is to be exchanged securely within the execution context, enabling this functionality at the infrastructure level and not per a specific SSP or SIP is the strongly preferred direction for enabling the GRA. In other words, these commonly used technical functions would be most effectively achieved by an infrastructure solution which supports the GRA.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="security" type="graa:Description">
            <xsd:annotation>
              <xsd:documentation>While service descriptions are technology-agnostic and do not detail the physical model of a service, certain security requirements are applicable to the service and need to be carried through all its implementations.  This property outlines those requirements.

The value is used to populate the Security section of the SDD document.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="privacy" type="graa:Description">
            <xsd:annotation>
              <xsd:documentation>While service descriptions are technology-agnostic and do not detail the physical model of a service, certain privacy requirements are applicable to the service and need to be carried through all its implementations.  This property outlines those requirements.

Value is used to populate the Privacy section of the SDD Document.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceAssumption" type="graa:Description">
            <xsd:annotation>
              <xsd:documentation>This property lists all assumptions on which the service depends to deliver its real-world effects.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="otherRequirement" type="graa:Description">
            <xsd:annotation>
              <xsd:documentation>[This section lists any other requirements which have to be met and on which the service depends to deliver its capabilities.]

[Additional artifacts related to specific subsections of this section's content can be provided under the artifacts folder of the service package. It is suggested there be a large number of artifacts related to this section.  These artifacts are included as documents or folders under the various artifacts subfolder of the artifacts folder.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="dataProvenance" type="graa:Description"/>
        </xsd:choice>
        <xsd:attribute name="serviceDescriptionSummaryText" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A brief summary of this service for short display purposes.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="domainDescription" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A primary domain or line of business (LoB) that a service covers.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="transformationUri" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>URI of an XSLT that transforms the skeleton SSP into a final one as the "phase-2" transform. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="majorVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A value identifying the primary version number. Defaults to 1.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="minorVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A value designating a minor version number. Defaults to 0.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="revisionVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A value designating a minor version revision number.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="creationDate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A date designation when a service was first created. Not to be confused with the date a service is submitted to a registry. The format is YYYY-MM. Set by default to today by Phase-2.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="activationDate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A date when a service was or will be first available in production.Not to be confused with the date this service was submitted to a registry. The format is YYYY-MM.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="lastRevisionDate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A date with the year and month specifying when this service information was last revised. The format is YYYY-MM. Set by default by Phase-2.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="nextRevisionDate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A year and month (YYYY-MM) a service is expected to be revised.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="expirationDate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A year and month (YYYY-MM) this service is expected to be no longer available (if applicable).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="lifecycleStatus" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A word indicating the current stage of the service within the development lifecycle.  Valid values are: In Design, In Development, Release Candidate, Operational/Production, Deprecated.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="alertAndNotificationUri" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A URL to sign up for alerts and notifications for a specific service.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="serviceDescriptionUri" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>URI of the Service Description Document, relative to the SSP Catalog.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceDescription" type="graa:ServiceDescription">
    <xsd:annotation>
      <xsd:documentation>A data structure representing the details describing a service.
[Realizes] Collaboration
[Uses] IEPD</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceIdentification">
    <xsd:annotation>
      <xsd:documentation>A data structure representing the means of uniquely identifying a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:attribute name="serviceId" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>An identification of the service in a service registry and/or repository.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="serviceUri" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A fully qualified locator of the service interface potentially including version and environment.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="serviceNameAbbreviationText" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A human readable abbreviation of the Service Name.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceIdentification" type="graa:ServiceIdentification">
    <xsd:annotation>
      <xsd:documentation>A data structure representing the means of uniquely identifying a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Description">
    <xsd:annotation>
      <xsd:documentation>A data structure used for the types of properties that are intended to document an element, with the possibility of a link to external documentation.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="documentation" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The documentation for the element. Derived from the UML element's comment.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="externalDocumentation" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Relative URL of an artifact which documents the element.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="Description" type="graa:Description">
    <xsd:annotation>
      <xsd:documentation>A data structure used for the types of properties that are intended to document an element, with the possibility of a link to external documentation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceLevelAgreement">
    <xsd:annotation>
      <xsd:documentation>A collection of policies, agreements, licensing and any other governance or performance documentation specifying constraints and any other details regarding the realization of a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="applicablePolicy" type="graa:Description">
        <xsd:annotation>
          <xsd:documentation>A collection of all policies that in some way constrain, govern, or control the usage of a service, application, process. etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="umbrellaAgreement" type="graa:Agreement">
        <xsd:annotation>
          <xsd:documentation>A set of umbrella agreements that in some way constrain, govern, or control the usage of a service, application, process. etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="agreement" type="graa:Agreement">
        <xsd:annotation>
          <xsd:documentation>Applicable Agreements or MOUs governing the use, administration, or implementation of a service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="applicableContract" type="graa:Agreement">
        <xsd:annotation>
          <xsd:documentation>A set of formal contract associated with a service, application, process, transaction, or thing, tangible or otherwise.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="licensingAgreement" type="graa:Agreement">
        <xsd:annotation>
          <xsd:documentation>Agreement licensing a service or application. Descriptive values could be In House, No License,  Open Source, Purchase License, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="applicablePoliciesIndicator" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True when there are any applicable policies governing the use, administration, or implementation of a service; otherwise false.
</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applicableContractsIndicator" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True when there are any applicable contracts relating to the use, administration, or implementation of a service; otherwise false.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applicableAgreementsIndicator" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True when there are any applicable agreements or Memoranda Of Understanding (MOUs) relating to the use, administration, or implementation of a service; otherwise false.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applicableUmbrellaAgreementsIndicator" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True when there are any applicable umbrella agreements relating to the use, administration, or implementation of a service; otherwise false.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="approvalRequiredIndicator" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True when a permission must first be obtained prior to using a service or performing some action in a business process; otherwise false.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="licensingRequiredIndicator" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>True when a license is required to use a service or application; otherwise false.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceResponseTime" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A description of the average response time for a service.  The response time is calculated as the time input is provided to the service until the service completes its process or provides output for the consumer.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceAverageThroughput" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A description of how often a service is expected to be, or actually used, averaged over a period of time.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceMaximumThroughput" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A description of the limit of how often a service is able to be accessed or used at, over a period of time during peak capacity.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceAvailability" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A description or measurement of the expected availability that a service is usable.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="usageCostAmount" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A total cost to use something, such as a service, etc. Currency text may precede or follow amount.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="usageUnitCostAmount" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A cost associated with a service(e.g. transaction, unlimited transactions, minutes of use). Currency text may precede or follow amount.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="creationCostAmount" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A cost create a thing, such as an application or service  This includes the full cost to design, manage, develop, test, implement and maintain. Currency text may precede or follow amount.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="ServiceLevelAgreement" type="graa:ServiceLevelAgreement">
    <xsd:annotation>
      <xsd:documentation>A collection of policies, agreements, licensing and any other governance or performance documentation specifying constraints and any other details regarding the realization of a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceInterfaceSpecification">
    <xsd:annotation>
      <xsd:documentation>A data type representing details relating to a service interface.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="graa:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="serviceInteractionProfile" type="graa:ServiceInteractionProfile">
            <xsd:annotation>
              <xsd:documentation>Information about the implemented Service Interaction Profile.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="service" type="graa:Service">
            <xsd:annotation>
              <xsd:documentation>The services of the service interface. note that in GRA it is best practice to have exactly one service per service interface specification.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="messageDefinitionMechanism" type="graa:Description">
            <xsd:annotation>
              <xsd:documentation>This property includes information about the message definition mechanism utilized by the service actions.

Per the GRA, message definition mechanisms are closely related to the interface description requirements.  Unlike interface description requirements, message definition mechanisms establish a standard way of defining the structure and contents of a message.

Additional artifacts related to this section's content can be provided in the artifacts folder of the service package.
  
[Service Abbreviation] SSP [Service Version]\artifacts

If such artifacts are provided, they should be referenced here. A description of the artifact and a link to it should be provided as part of the reference.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceTesting" type="graa:Description">
            <xsd:annotation>
              <xsd:documentation>TODO: Missing documentation</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="schemaReference" type="graa:SchemaReference">
            <xsd:annotation>
              <xsd:documentation>Schema used
TODO: ** Question - do we need to allow entry of schema not in model?</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="securityImplementedIndicator" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>True when security has been implemented to access this service; otherwise false.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="securityDescriptionText" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A text description that identifies the security which was implemented to protect this service interface (GFIPM, Trusted Broker, etc)</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="uriAddress" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>URI of the (WSDL) service interface potentially including version and environment.  The URI is relative to the SSP Catalog.

TODO: really? -&gt; [derived from] Element name.
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="serviceInterfaceDescriptionUri" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>URI of the Service Interface Description document, potentially including version and environment.  The URI is relative to the SSP Catalog.

TODO: Really? -&gt;[derived from] Element name.
</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="targetNamespace" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Target namespace of the (WSDL) Service Interface.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="prefix" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Prefix to be used for target namespace of (WSDL) Service Specification. Derived from (the same as) ServiceInterfaceNameAbbeviationText</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="serviceInterfaceNameAbbreviationText" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A human readable abbreviation of the Service Name that is also appropriate as a WSDL prefix.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceInterfaceSpecification" type="graa:ServiceInterfaceSpecification">
    <xsd:annotation>
      <xsd:documentation>A data type representing details relating to a service interface.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceInteractionProfile">
    <xsd:annotation>
      <xsd:documentation>A data structure containing information about a Service Interaction Profile.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="sipName" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The name of the Service Interaction Profile.
[Derived from] SIP Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sipVersion" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Version of the Service Interaction Profile.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="ServiceInteractionProfile" type="graa:ServiceInteractionProfile">
    <xsd:annotation>
      <xsd:documentation>A data structure containing information about a Service Interaction Profile.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SchemaReference">
    <xsd:annotation>
      <xsd:documentation>Elements describing a schema used by this service interface</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="namespace" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Namespace of schema.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="prefix" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Prefix used to reference Schema Namespace.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="schemaLocation" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>URI of Schema, relative to SPP Catalog</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="SchemaReference" type="graa:SchemaReference">
    <xsd:annotation>
      <xsd:documentation>Elements describing a schema used by this service interface</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
