Design/Annotation/IEPD/GRAAnnotationIEPD-1.0.iepd/GRAUML/GRAAnnotationModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:SAN="http://ijis.org/GRA/Annotations" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ijis.org/GRA/Annotations" version="&quot;1&quot;">
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../XMLschemas/subset/niem/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../XMLschemas/subset/niem/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../XMLschemas/subset/niem/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../XMLschemas/subset/niem/structures/2.0/structures.xsd"/>
  <xsd:attribute name="currencyText" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A unit of money or exchange.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="flag" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">Flag provides an arbitrary extension mechanism where by any business or technology choice may be notated on the containing element. The intent is that the phase-2 transform will then respect these flags and produce the desired result. Unkown flags are ignored.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="isAsyncronous" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="label" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="other_requirement" type="xsd:string">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="value" type="xsd:anySimpleType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:element abstract="false" name="ActionName" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A service action performed within this service interface.
[Derived from] Operation name</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ActionPurpose" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A description of the Service Action purpose performed by this service interface.
[Derived from] Operation description</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ActivationDate" nillable="false" type="niem-xsd:date">
    <xsd:annotation>
      <xsd:documentation source="">A date when a service was or will be first available in production. Do NOT confuse with the date you submitted this service to a registry. The format is YYYY-MM.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AddressURIReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="anyURI" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Agreement" nillable="false" type="SAN:AgreementType">
    <xsd:annotation>
      <xsd:documentation source="">A description or reference to an applicable Agreement or MOU governing the use, administration, or implementation of a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AgreementDescriptionText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A free text description of an agreement, formal or informal, associated with a service, application or thing, tangible or otherwise.
[Derived from] Element Documentation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AgreementURI" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation source="">A locator referencing an agreement, formal or informal, associated with a service, application or thing, tangible or otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AlertsAndNotifications" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation source="">A URL to sign up for alerts and notifications for a specific service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ApplicableAgreementsIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation source="">True when there are any applicable agreements or Memoranda Of Understanding (MOUs) relating to the use, administration, or implementation of a service; False otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ApplicableContract" nillable="false" type="SAN:AgreementType">
    <xsd:annotation>
      <xsd:documentation source="">A formal contract associated with a service, application, process, tranaction, or thing, tangible or otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ApplicableContractsIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation source="">True when there are any applicable contracts relating to the use, administration, or implementation of a service; False otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ApplicablePolicies" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A collection of all policies that in some way constrain, govern, or control the usage of a service, application, process. etc.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ApplicablePoliciesIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation source="">True when there are any applicable policies governing the use, administration, or implementation of a service; False otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ApplicableUmbrellaAgreementsIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation source="">True when there are any applicable umbrella agreements relating to the use, administration, or implementation of a service; False otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ApprovalRequiredIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation source="">True when a permission must first be obtained prior to using a service or performing some action in a business process; False otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="CapabilityDescriptionText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A free text format description of the capability provided by a service.
[Derived from] Element Documentation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Choice_1Reference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Classification" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A collection of classifications defining the relationship between a service and an applicable enterprise architecture and business reference model.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ConsumerReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ParticipantType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ContactPersonAddress" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A physical address of a person in full text form.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ContactPersonEmailID" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">An Email of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ContactPersonName" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A name of a person designated as a point of contact.
[Derived from] Element Name</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ContactPersonPhoneNumberID" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A phone number of the person designated as the point of contact for the organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="CreationCostAmount" nillable="false" type="SAN:AmountType">
    <xsd:annotation>
      <xsd:documentation source="">A cost create a thing, such as an application or service  This includes the full cost to design, manage, develop, test, implement and maintain.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="CreationDate" nillable="false" type="niem-xsd:date">
    <xsd:annotation>
      <xsd:documentation source="">A date designation when a service was first created. Do NOT to be confuse with the date a service is submitted to a registry. The format is YYYY-MM.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Description" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="DiagramLink" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Documentation" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="DomainDescription" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A primary domain or line of business (LoB) that a service covers.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ElementID" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Endorsements" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A collection of names and acronyms of professional or governmental organizations or people that endorse this service as an official business exchange.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ExchangePartner" nillable="false" type="SAN:ParticipantType">
    <xsd:annotation>
      <xsd:documentation source="">A collection of the types/categories of organizations that would commonly use a service.
[Derived from] Role in collaboration</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ExpirationDate" nillable="false" type="niem-xsd:date">
    <xsd:annotation>
      <xsd:documentation source="">A year and month (YYYY-MM) this service is expected to be no longer available (if applicable).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ExternalDocumentation" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="IEPDName" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A human readable identification of the IEPD</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="IEPDReference" nillable="false" type="SAN:IEPDReferenceType">
    <xsd:annotation>
      <xsd:documentation source="">A set or reference information identifying an Information Exchange Package Document which the service uses in its data model
[Derived from] &lt;Uses&gt; relation to IEPD</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="IEPDURL" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation source="">A URL where the IEPD is posted and available.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="IdentityAndAttributeAssertionTransmissionReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Interface" nillable="false" type="SAN:InterfaceType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="InterfaceDescriptionRequirementsReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Interface_default" nillable="false" type="SAN:InterfaceType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Interface_defaultReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="InterfaceType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="LastRevisionDate" nillable="false" type="niem-xsd:date">
    <xsd:annotation>
      <xsd:documentation source="">A date with the year and month specifying when this service information was last revised. Do NOT confuse with the date the service itself was last revised with generating new service documentation. The format is YYYY-MM.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="LicensingAgreement" nillable="false" type="SAN:AgreementType">
    <xsd:annotation>
      <xsd:documentation source="">A type of licensing for a service or application. Descriptive values could be In House, No License,  Open Source, Purchase License, etc.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="LicensingRequiredIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation source="">True when a license is required to use a service or application; False otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="LifecycleStatus" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A word indicating the current stage of the service within the development lifecycle.  Valid values are; In Design, In Development, Release Candidate, Operational/Production, Deprecated</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="LoggingReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="MajorVersion" nillable="false" type="niem-xsd:integer">
    <xsd:annotation>
      <xsd:documentation source="">A value identifying the primary version number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Message" nillable="false" type="SAN:MessageType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="MessageAddressingReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="MessageConfidentialityReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="MessageExchangePatternReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ExchangePatternCodeSimpleType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="MessageIntegrityReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="MessageNonrepudiationReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Message_default" nillable="false" type="SAN:MessageType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Message_defaultReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="MessageType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="MinorVersion" nillable="false" type="niem-xsd:integer">
    <xsd:annotation>
      <xsd:documentation source="">A value designating a minor version number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ModelReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ModelType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ModelURI" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Name" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="NextRevisionDate" nillable="false" type="niem-xsd:date">
    <xsd:annotation>
      <xsd:documentation source="">A year and month (YYYY-MM) a service is expected to be revised.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Operation" nillable="false" type="SAN:OperationType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Operation_default" nillable="false" type="SAN:OperationType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Operation_defaultReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="OperationType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Organization" nillable="false" type="SAN:OrganizationType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OrganizationAcronym" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">An acronym for the agency.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OrganizationFullAddressText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A physical address of an agency in full text form.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OrganizationName" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A full name of the agency.
[Derived from] Element Name</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OrganizationPointOfContact" nillable="false" type="SAN:PersonType">
    <xsd:annotation>
      <xsd:documentation source="">A person designated as the point of contact for an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OrganizationRoleDescriptionText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">An organizations role defined in free form text. Examples could be creator, provider, owner, maintainer, authorities source, etc.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OrganizationRoleDetailedDescriptionText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A very detailed textual explanation of the role and responsibilities of an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OrganizationWebSiteURL" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation source="">An internet address of the agency's web site.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ParticipantReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ParticipantType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Person" nillable="false" type="SAN:PersonType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Port" nillable="false" type="SAN:PortType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Port_defaultReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PortType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ProviderReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ServiceType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RealWorldEffect" nillable="false" type="SAN:UseCaseType">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RealWorldEffectDescriptionText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RelatedOrganization" nillable="false" type="SAN:OrganizationType">
    <xsd:annotation>
      <xsd:documentation source="">A collection of organizations that are somehow related to the service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ReliabilityReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Requirement" nillable="false" type="SAN:InteractionRequirementsType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RevisionVersion" nillable="false" type="niem-xsd:integer">
    <xsd:annotation>
      <xsd:documentation source="">A value designating a minor version revision number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SIPName" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A name of the Service Interaction Profile Implemented.
[Derived from] SIP Name</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SIPVersion" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A version of the Service Interaction Profile Implemented</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SecurityClassificationText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">Any applicable classification of the security level of the information exchanged by the service, such as SBU, Secret, etc. If there is no strict classification this field can contain a brief statement regarding the security of the data.
[Derived from] Security Classification Name</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SecurityDescriptionText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A text description that identifies the security which was implemented to protect this service interface (GFIPM, Trusted Broker, etc)</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SecurityImplementedIndicator" nillable="false" type="niem-xsd:boolean">
    <xsd:annotation>
      <xsd:documentation source="">True when security has been implemented to access this service.False otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceAuthenticationReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceAvailability" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A description or measurement of the expected availbility that a service is usable.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceAverageThroughput" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A description of how often a service is expected to be, or actually used, averaged over a period of time.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceCapabilities" nillable="false" type="SAN:ServiceCapabilityType">
    <xsd:annotation>
      <xsd:documentation source="">An enumeration of the capabilities provided by a service. The capabilities will be described in a free text format.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceConsumerAuthenticationReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceConsumerAuthorizationReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceDependencyReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ServiceIdentificationType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A specific service upon which a service directly depends to deliver its real world effects.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceDescription" nillable="false" type="SAN:DescriptionType">
    <xsd:annotation>
      <xsd:documentation source="">A human readable narrative description of this service—may contain as much detail as you think useful to those with a potential interest in this service and its business usage/application.
[Derived from] Element Documentation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceDescriptionKeywordText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A search term that would not otherwise be in other metadata attributes (e.g., Child Support Warrant, Domestic Relations Warrant, Domestics).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceDescriptionSummaryText" nillable="false" type="SAN:SummaryTextType">
    <xsd:annotation>
      <xsd:documentation source="">A brief summary of this service for short display purposes.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceFullNameText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A human readable identification of the service
[Derived from] Element Name</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceID" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">An identification of the service in a service registry and/or repository.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceInteraction" nillable="false" type="SAN:ServiceInteractionType">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceInteractionProfile" nillable="false" type="SAN:ServiceInteractionProfileType">
    <xsd:annotation>
      <xsd:documentation source="">A set of information about the Service Interaction Profile Implemented.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceInterface" nillable="false" type="SAN:ServiceInterfaceSpecificationType">
    <xsd:annotation>
      <xsd:documentation source="">A set of details relating to the interface of a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceLevelAgreement" nillable="false" type="SAN:ServiceLevelAgreementType">
    <xsd:annotation>
      <xsd:documentation source="">A collection of policies, agreements, licensing and any other goverenace or performance documentation specifying constraints and any other details regarding the realization of a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceMaximumThroughput" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A description of the limit of how often a service is able to be accessed or used at, over a period of time during peak capacity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceMetadataAvailabilityReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceNameAbbreviationText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A human readable abbreviation of the Service Name.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServicePurpose" nillable="false" type="SAN:DescriptionType">
    <xsd:annotation>
      <xsd:documentation source="">A purpose which the service intends or resolves, to perform or accomplish.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceResponseTime" nillable="false" type="niem-xsd:duration">
    <xsd:annotation>
      <xsd:documentation source="">A description of the average response time for a service.  The response time is calculated as the time input is provided to the service until the service completes its process or provides output for the consumer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceScopeDescription" nillable="false" type="SAN:DescriptionType">
    <xsd:annotation>
      <xsd:documentation source="">A definition of the scope of a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceSecurityClassification" nillable="false" type="SAN:SecurityClassificationType">
    <xsd:annotation>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceURI" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation source="">A fully qualified locator of the service interface potentially including version and environment.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Sponsors" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A collection of professional or governmental organization(s) or person that sponsored, contributed, or participated in the development of a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="TemplateReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="string" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">Template is the name of an XSLT template that will be called to process the containing element thus overriding the default mapping.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="TransactionSupportReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="boolean" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source=""/>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="TransformationURI" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation source="">URI of an XSLT that transforms the skeleton SSP into a final one as the "phase-2" transform. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Type" nillable="false" type="SAN:ModelReferenceType">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="URIAddress" nillable="false" type="niem-xsd:anyURI">
    <xsd:annotation>
      <xsd:documentation source="">A fully qualified locator of the service interface potentially including version and environment.
[derived from] Element name</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="URIDescription" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation source="">A description of the URI. This would provide better understanding of what is actually at the URI address.
[derived from] Element description</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="UmbrellaAgreement" nillable="false" type="SAN:AgreementType">
    <xsd:annotation>
      <xsd:documentation source="">An umbrella agreement that in some way constrain, govern, or control the usage of a service, application, process. etc.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="UsageCostAmount" nillable="false" type="SAN:AmountType">
    <xsd:annotation>
      <xsd:documentation source="">A total cost to use something, such as a service, etc. </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="UsageUnitCostAmount" nillable="false" type="SAN:AmountType">
    <xsd:annotation>
      <xsd:documentation source="">A cost associated with a service(e.g. transaction, unlimited transactions, minutes of use).</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Use" nillable="false" type="SAN:MessageUseCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation source="">A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Version" nillable="false" type="SAN:VersionInformationType">
    <xsd:annotation>
      <xsd:documentation source="">A structured representation of a version for something, such as a service, document, etc.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="AgreementType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A data structure representing an agreement, formal or informal, associated with a service, application or thing, tangible or otherwise.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:AgreementURI"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="AmountType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for an amount of money.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence/>
        <xsd:attribute ref="SAN:value" use="required"/>
        <xsd:attribute ref="SAN:currencyText" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="DescriptionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for Documentation for any element contained in element documentation</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:Description"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ExternalDocumentation"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="EntityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A data structure representing either a person or an organization.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:sequence maxOccurs="1" minOccurs="1">
            <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:Organization"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:Person"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ExchangePatternCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Enquiery"/>
      <xsd:enumeration value="Subscription"/>
      <xsd:enumeration value="Notification"/>
      <xsd:enumeration value="Update"/>
      <xsd:enumeration value="Message"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="true" mixed="false" name="GRAServiceAnnotationBaseType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:TemplateReference"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:Requirement"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ModelReference"/>
        </xsd:sequence>
        <xsd:attribute ref="SAN:flag" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="IEPDReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A data structure describing the name and location of an IEPD.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SAN:IEPDName"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SAN:IEPDURL"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="InteractionRequirementsType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ServiceConsumerAuthenticationReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ServiceConsumerAuthorizationReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:IdentityAndAttributeAssertionTransmissionReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ServiceAuthenticationReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:MessageNonrepudiationReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:MessageIntegrityReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:MessageConfidentialityReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:MessageAddressingReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ReliabilityReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:TransactionSupportReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ServiceMetadataAvailabilityReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:InterfaceDescriptionRequirementsReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:LoggingReference"/>
        </xsd:sequence>
        <xsd:attribute ref="SAN:other_requirement" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="InterfaceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="GRAServiceAnnotationBaseType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:GRAServiceAnnotationBaseType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Operation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Message_default"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="MessageType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="GRAServiceAnnotationBaseType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for [Derived from class]</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:GRAServiceAnnotationBaseType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:Use"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:Type"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="MessageUseCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="in"/>
      <xsd:enumeration value="out"/>
      <xsd:enumeration value="inout"/>
      <xsd:enumeration value="exception"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="ModelReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for Model references are generated based on a realization or QVT logic.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:Name"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Documentation"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ElementID"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:DiagramLink"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ModelReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ModelType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ModelURI"/>
        </xsd:sequence>
        <xsd:attribute ref="SAN:label" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="OperationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="GRAServiceAnnotationBaseType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A data structure representing a services action information
[Realizes] Operation</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:GRAServiceAnnotationBaseType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Message"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:MessageExchangePatternReference"/>
        </xsd:sequence>
        <xsd:attribute ref="SAN:isAsyncronous" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="OrganizationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="GRAServiceAnnotationBaseType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A data structure describing a body of people grouped together for a common purpose.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:GRAServiceAnnotationBaseType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:OrganizationName"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:OrganizationAcronym"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:OrganizationFullAddressText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:OrganizationWebSiteURL"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:OrganizationRoleDescriptionText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:OrganizationRoleDetailedDescriptionText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:OrganizationPointOfContact"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ParticipantType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="OrganizationType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for Realizes Actor</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:OrganizationType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="PersonType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="GRAServiceAnnotationBaseType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A data structure describing a persons name and the means to contact that person.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:GRAServiceAnnotationBaseType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ContactPersonName"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ContactPersonEmailID"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ContactPersonPhoneNumberID"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ContactPersonAddress"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="PortType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="GRAServiceAnnotationBaseType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:GRAServiceAnnotationBaseType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Interface"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Operation_default"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Message_default"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:AddressURIReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="SecurityClassificationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:SecurityClassificationText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ServiceCapabilityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A free text format description of the capability provided by a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:CapabilityDescriptionText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ServiceDescriptionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ServiceIdentificationType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A data structure representing the details describing a service.
[Realizes] Collaboration
[Uses] IEPD</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:ServiceIdentificationType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ServiceDescription"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ExchangePartner"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:Classification"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:Sponsors"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ServicePurpose"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ServiceScopeDescription"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ServiceDescriptionSummaryText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ServiceDescriptionKeywordText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SAN:ServiceCapabilities"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ServiceDependencyReference"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:IEPDReference"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ServiceSecurityClassification"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:Version"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ServiceLevelAgreement"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:RelatedOrganization"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ServiceInterface"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:DomainDescription"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Endorsements"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:RealWorldEffect"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ServiceInteraction"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:TransformationURI"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ServiceIdentificationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="GRAServiceAnnotationBaseType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A data structure representing the means of uniquely identifying a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:GRAServiceAnnotationBaseType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ServiceFullNameText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ServiceID"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ServiceURI"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ServiceNameAbbreviationText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ServiceInteractionProfileType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A data structure containing information about the Service Interaction Profile Implemented</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:SIPName"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:SIPVersion"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ServiceInteractionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="GRAServiceAnnotationBaseType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for Exchanges between parties as an interaction diagram</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:GRAServiceAnnotationBaseType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ParticipantReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ServiceInterfaceSpecificationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="GRAServiceAnnotationBaseType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A data type representing details relating to the interface of a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:GRAServiceAnnotationBaseType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:SecurityImplementedIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:SecurityDescriptionText"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ServiceURI"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ServiceInteractionProfile"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Port_defaultReference"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Interface_defaultReference"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Operation_defaultReference"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Message_defaultReference"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="SAN:ProviderReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ServiceLevelAgreementType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A collection of policies, agreements, licensing and any other goverenace or performance documentation specifying constraints and any other details regarding the realization of a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ApplicablePoliciesIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ApplicableContractsIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ApplicableAgreementsIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ApplicableUmbrellaAgreementsIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ApplicablePolicies"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:UmbrellaAgreement"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Agreement"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ApplicableContract"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ApprovalRequiredIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:LicensingRequiredIndicator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:LicensingAgreement"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:ServiceResponseTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ServiceAverageThroughput"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ServiceMaximumThroughput"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ServiceAvailability"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:UsageCostAmount"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:UsageUnitCostAmount"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:CreationCostAmount"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ServiceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ParticipantType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for Realizes component</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:ParticipantType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Interface_default"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Message_default"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Operation_default"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:Port"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="SummaryTextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="string" i:namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A string limited to 160 characters for summary descriptivr text.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="URIDetailType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A collection containing URIs information</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:URIAddress"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:URIDescription"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="UseCaseType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="GRAServiceAnnotationBaseType" i:namespace="http://ijis.org/GRA/Annotations"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for [Derived from] Use case or package with use cases</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="SAN:GRAServiceAnnotationBaseType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ProviderReference"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:ConsumerReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="VersionInformationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for A data structure representing a version for something, such as a service, document, etc.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:MajorVersion"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:MinorVersion"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:RevisionVersion"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:CreationDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ActivationDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:LastRevisionDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:NextRevisionDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SAN:ExpirationDate"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:LifecycleStatus"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SAN:AlertsAndNotifications"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:Organization"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SAN:Person"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
