GRAUML/PriorVersions/Examples/Corrections/Corrections_GRA_EXAMPLE/Corrections_SSP_v_1.0.0/artifacts/service model/information model/Corrections_iepd/XMLschemas/Content/subset/niem/2.0/unece_rec20-misc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:unece="http://niem.gov/niem/unece_rec20-misc/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://niem.gov/niem/unece_rec20-misc/2.0" version="1">
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
    <xsd:documentation source="">Miscellaneous unit of measure codes from the United Nations Economic Commission for Europe Recommendation No. 20, Codes for Units of Measure used in International Trade.</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../../../XMLschemas/subset/niem/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../../../XMLschemas/subset/niem/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../../../XMLschemas/subset/niem/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../../../XMLschemas/subset/niem/structures/2.0/structures.xsd"/>
  <xsd:simpleType name="LengthCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for units of measurements for a length value.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="HMT">
        <xsd:annotation>
          <xsd:documentation source="">hectometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="A71">
        <xsd:annotation>
          <xsd:documentation source="">femtometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="X1">
        <xsd:annotation>
          <xsd:documentation source="">chain</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="A12">
        <xsd:annotation>
          <xsd:documentation source="">astronomical unit</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="A45">
        <xsd:annotation>
          <xsd:documentation source="">decametre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4H">
        <xsd:annotation>
          <xsd:documentation source="">micrometre (micron)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="A11">
        <xsd:annotation>
          <xsd:documentation source="">angstrom</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C52">
        <xsd:annotation>
          <xsd:documentation source="">picometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="B57">
        <xsd:annotation>
          <xsd:documentation source="">light year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CMT">
        <xsd:annotation>
          <xsd:documentation source="">centimetre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MTR">
        <xsd:annotation>
          <xsd:documentation source="">metre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AK">
        <xsd:annotation>
          <xsd:documentation source="">fathom</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C45">
        <xsd:annotation>
          <xsd:documentation source="">nanometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KMT">
        <xsd:annotation>
          <xsd:documentation source="">kilometre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M7">
        <xsd:annotation>
          <xsd:documentation source="">micro-inch</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MMT">
        <xsd:annotation>
          <xsd:documentation source="">millimetre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="INH">
        <xsd:annotation>
          <xsd:documentation source="">inch</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="77">
        <xsd:annotation>
          <xsd:documentation source="">milli-inch</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="YRD">
        <xsd:annotation>
          <xsd:documentation source="">yard</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FOT">
        <xsd:annotation>
          <xsd:documentation source="">foot</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NMI">
        <xsd:annotation>
          <xsd:documentation source="">nautical mile</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DMT">
        <xsd:annotation>
          <xsd:documentation source="">decimetre</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C63">
        <xsd:annotation>
          <xsd:documentation source="">parsec</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SMI">
        <xsd:annotation>
          <xsd:documentation source="">mile (statute mile)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="LengthCodeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for units of measurements for a length value.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="unece:LengthCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="MassCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for units of measurement for a weight value.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="KGM">
        <xsd:annotation>
          <xsd:documentation source="">kilogram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DTN">
        <xsd:annotation>
          <xsd:documentation source="">decitonne</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="STN">
        <xsd:annotation>
          <xsd:documentation source="">ton (US) or short ton (UK/US)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GRM">
        <xsd:annotation>
          <xsd:documentation source="">gram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="APZ">
        <xsd:annotation>
          <xsd:documentation source="">troy ounce or apothecary ounce</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TNE">
        <xsd:annotation>
          <xsd:documentation source="">tonne (metric ton)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="STI">
        <xsd:annotation>
          <xsd:documentation source="">stone (UK)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Mg">
        <xsd:annotation>
          <xsd:documentation source="">megagram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CWA">
        <xsd:annotation>
          <xsd:documentation source="">hundred pounds (cwt) / hundred weight (US)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LBR">
        <xsd:annotation>
          <xsd:documentation source="">pound</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2U">
        <xsd:annotation>
          <xsd:documentation source="">megagram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DG">
        <xsd:annotation>
          <xsd:documentation source="">decigram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HGM">
        <xsd:annotation>
          <xsd:documentation source="">hectogram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KTN">
        <xsd:annotation>
          <xsd:documentation source="">kilotonne</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LTN">
        <xsd:annotation>
          <xsd:documentation source="">ton (UK) or long ton (US)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CGM">
        <xsd:annotation>
          <xsd:documentation source="">centigram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ONZ">
        <xsd:annotation>
          <xsd:documentation source="">ounce</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MC">
        <xsd:annotation>
          <xsd:documentation source="">microgram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DJ">
        <xsd:annotation>
          <xsd:documentation source="">decagram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CWI">
        <xsd:annotation>
          <xsd:documentation source="">hundred weight (UK)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MGM">
        <xsd:annotation>
          <xsd:documentation source="">milligram</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GRN">
        <xsd:annotation>
          <xsd:documentation source="">grain</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="MassCodeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for units of measurement for a weight value.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="unece:MassCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TimeCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for units of time.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="D42">
        <xsd:annotation>
          <xsd:documentation source="">tropical year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="B52">
        <xsd:annotation>
          <xsd:documentation source="">kilosecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HUR">
        <xsd:annotation>
          <xsd:documentation source="">hour</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="WEE">
        <xsd:annotation>
          <xsd:documentation source="">week</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C26">
        <xsd:annotation>
          <xsd:documentation source="">millisecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ANN">
        <xsd:annotation>
          <xsd:documentation source="">year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MON">
        <xsd:annotation>
          <xsd:documentation source="">month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DAY">
        <xsd:annotation>
          <xsd:documentation source="">day</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MIN">
        <xsd:annotation>
          <xsd:documentation source="">minute [unit of time]</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="B98">
        <xsd:annotation>
          <xsd:documentation source="">microsecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C47">
        <xsd:annotation>
          <xsd:documentation source="">nanosecond</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SEC">
        <xsd:annotation>
          <xsd:documentation source="">second [unit of time]</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="TimeCodeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for units of time.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="unece:TimeCodeSimpleType">
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
