GRAUML/PriorVersions/Examples/Corrections/Corrections_GRA_EXAMPLE/Corrections_SSP_v_1.0.0/artifacts/service model/information model/Corrections_iepd/XMLschemas/Content/extension/SubjectServicesAndAssessments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:MetaR="http://it.ojp.gov/gist/201/Metadata/MetadataReference" xmlns:Q1="http://domain.gov/myDomain/" xmlns:SERVICE="http://it.ojp.gov/gist/200/Corrections/service" xmlns:SUBJ="http://it.ojp.gov/gist/200/Corrections/subject" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://it.ojp.gov/gist/200/Corrections/service" version="&quot;1&quot;">
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
    <xsd:documentation source="">A schema for services and assessments relative to a subject.</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://domain.gov/myDomain/" schemaLocation="../../.././XMLschemas/Content/extension/EntityIdentification.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/subject" schemaLocation="../../.././XMLschemas/Content/extension/CorrectionsSubjectExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference" schemaLocation="../../.././XMLschemas/Metadata/MetadataReference.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../XMLschemas/subset/niem/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../XMLschemas/subset/niem/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../.././XMLschemas/Content/subset/niem/2.0/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../XMLschemas/subset/niem/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../XMLschemas/subset/niem/structures/2.0/structures.xsd"/>
  <xsd:element abstract="false" name="AliasReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
      <xsd:documentation source="">A Person's alias</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AssessmentScore" nillable="false" type="MetaR:ScoreType">
    <xsd:annotation>
      <xsd:documentation source="">A score determined by an assessment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="CategoryIDReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="CategoryURIType" i:namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference"/>
      </xsd:appinfo>
      <xsd:documentation source="">An identifier for a Category of service provider</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="DispositationText" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation source="">A Disposition of a service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="EntityIdentification" nillable="false" type="Q1:EntityIdentityType">
    <xsd:annotation>
      <xsd:documentation source="">A Identification of a service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ProducedIndicatorReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="IndicatorType" i:namespace="http://it.ojp.gov/gist/200/Corrections/subject"/>
      </xsd:appinfo>
      <xsd:documentation source="">A set of Indicators produced by an assessment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ProvidesServiceReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ServiceType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
      <xsd:documentation source="">A Services provided by a provider</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RiskLevelCode" nillable="false" type="SERVICE:LevelCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation source="">A risk assessed</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RoleOfOrganizationTypeReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="OrganizationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A Role of organization</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Service" nillable="false" type="SERVICE:ServiceType">
    <xsd:annotation>
      <xsd:documentation source="">An entity playing the role.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceDocument" nillable="false" type="nc:DocumentType">
    <xsd:annotation>
      <xsd:documentation source="">A Document that specifies or explains a service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceLog" nillable="false" type="nc:DocumentType">
    <xsd:annotation>
      <xsd:documentation source="">A log of documents descrbing a service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceProviderReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ServiceProviderType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
      <xsd:documentation source="">A set of provider(s) of a service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceSupervisorReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
      <xsd:documentation source="">A supervisor of a service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubjectReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="SubjectType" i:namespace="http://it.ojp.gov/gist/200/Corrections/subject"/>
      </xsd:appinfo>
      <xsd:documentation source="">A subject of a service</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SupervisesReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="ServiceType" i:namespace="http://it.ojp.gov/gist/200/Corrections/service"/>
      </xsd:appinfo>
      <xsd:documentation source="">A set of What services a person supervises</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="AssessmentType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="AssessmentType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for an assessment. An assessment is an service performed for a subject by an assessor in an assessing organization. An assessment determines some risks or capabilities associated with a subject.
Each assessment (service) has a category, recommendation and an optional set of documents and assessment scores.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:AssessmentType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SERVICE:Service"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:AssessmentScore"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:ProducedIndicatorReference"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SERVICE:RiskLevelCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="EducationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for the educational services for a subject</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SERVICE:Service"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LevelCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for An arbitrary indicator of risk</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="High">
        <xsd:annotation>
          <xsd:documentation source="">High risk</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Medium">
        <xsd:annotation>
          <xsd:documentation source="">Medium risk</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Low">
        <xsd:annotation>
          <xsd:documentation source="">Low risk</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="PersonType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="PersonType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a human being.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:PersonType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SERVICE:EntityIdentification"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:SupervisesReference"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:AliasReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ServiceProviderType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a service provider, a service provider provides services to subjects</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:ProvidesServiceReference"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:CategoryIDReference"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="SERVICE:RoleOfOrganizationTypeReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="ServiceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a categorized service, an activity performed for a subject by a service provider and supervised by a service supervisor. A service may have a set of associated documents.
Kinds of services include treatments, education and assessments.
Services are kinds of activities but aggregated as a property due to NIEM rules.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:EntityIdentification"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:SubjectReference"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:ServiceProviderReference"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:CategoryIDReference"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SERVICE:ServiceSupervisorReference"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SERVICE:ServiceDocument"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="SERVICE:ServiceLog"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="SERVICE:DispositationText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
