GRAUML/PriorVersions/Examples/Corrections/Corrections_GRA_EXAMPLE/Corrections_SSP_v_1.0.0/artifacts/service model/information model/GRAMessageMetadata/XMLschemas/exchange/SubjectMessageModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:CRSUB="http://it.ojp.gov/gist/200/Corrections/SubjectMessageTypes" xmlns:ENTITY="http://it.ojp.gov/gist/200/Corrections/entities" xmlns:HOUSE="http://it.ojp.gov/gist/200/Corrections/housing" xmlns:MetaR="http://it.ojp.gov/gist/201/Metadata/MetadataReference" xmlns:PLAN="http://it.ojp.gov/gist/200/Corrections/plan" xmlns:Q1="http://domain.gov/myDomain/" xmlns:SERVICE="http://it.ojp.gov/gist/200/Corrections/service" xmlns:SUBJ="http://it.ojp.gov/gist/200/Corrections/subject" xmlns:TREAT="http://it.ojp.gov/gist/200/Corrections/treatments" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:j="http://niem.gov/niem/domains/jxdm/4.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://it.ojp.gov/gist/200/Corrections/SubjectMessageTypes" version="&quot;1&quot;">
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../XMLschemas/Content/subset/niem/2.0/niem-core.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/plan" schemaLocation="../../XMLschemas/Content/extension/PlanExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/treatments" schemaLocation="../../XMLschemas/Content/extension/TreatmentAndPerscriptionExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/housing" schemaLocation="../../XMLschemas/Content/extension/HousingExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference" schemaLocation="../../XMLschemas/Metadata/MetadataReference.xsd"/>
  <xsd:import namespace="http://domain.gov/myDomain/" schemaLocation="../../XMLschemas/Content/extension/EntityIdentification.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/subject" schemaLocation="../../XMLschemas/Content/extension/CorrectionsSubjectExtension.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/domains/jxdm/4.1" schemaLocation="../../XMLschemas/Content/subset/niem/2.0/jxdm.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/entities" schemaLocation="../../XMLschemas/Content/extension/EntityExtension.xsd"/>
  <xsd:import namespace="http://it.ojp.gov/gist/200/Corrections/service" schemaLocation="../../XMLschemas/Content/extension/SubjectServicesAndAssessments.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../XMLschemas/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../XMLschemas/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../XMLschemas/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:annotation>
    <xsd:documentation>Corrections subject message types</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType abstract="false" mixed="false" name="OperationResultType">
    <xsd:annotation>
      <xsd:documentation>A data type for the result of an operation</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ExchangeAgreedMessageType" i:namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MetaR:ExchangeAgreedMessageType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="CRSUB:OperationResultCode"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CRSUB:OperaionResultText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="OperationResultCode" nillable="false" type="CRSUB:OperationResultCodesCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>An indicator of the success of an operation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="OperationResultCodesCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A data type for a set of operation result codes</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:restriction base="niem-xsd:token">
        <xsd:enumeration value="Success">
          <xsd:annotation>
            <xsd:documentation>Operation was a success</xsd:documentation>
          </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="AuthorizationFailure">
          <xsd:annotation>
            <xsd:documentation>The operation could not be concluded due to insufficient privileges or failure to authenticate</xsd:documentation>
          </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="TechnicalFailure">
          <xsd:annotation>
            <xsd:documentation>The operation could not be concluded for technical reasons</xsd:documentation>
          </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="BusinessFailure">
          <xsd:annotation>
            <xsd:documentation>The operation could not be concluded for business information or rule reasons</xsd:documentation>
          </xsd:annotation>
        </xsd:enumeration>
        <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="OperaionResultText" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A result of a query or subscription</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="SubjectQueryMessageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a query about an individual</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ExchangeAgreedMessageType" i:namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MetaR:ExchangeAgreedMessageType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CRSUB:PersonLocator"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CRSUB:DetailLevelCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="PersonLocator" nillable="false" type="ENTITY:PersonMinimalType">
    <xsd:annotation>
      <xsd:documentation>A recored locater for a person</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="DetailLevelCode" nillable="false" type="MetaR:DetailLevelCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A Level of detail requested</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="EntityQueryMessageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a message to get information about any entity in a data resource</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ExchangeAgreedMessageType" i:namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MetaR:ExchangeAgreedMessageType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="CRSUB:EntityIdentification"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CRSUB:DetailLevelCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="EntityIdentification" nillable="false" type="Q1:EntityIdentityType">
    <xsd:annotation>
      <xsd:documentation>An identity of an entity and link to find additional information about that entity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="SubscriptionMessageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a message to establish a subscription.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ExchangeAgreedMessageType" i:namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MetaR:ExchangeAgreedMessageType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="CRSUB:SubscriptionIDText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="CRSUB:EntitySubscribedTo"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="CRSUB:CategorySubscribedToURI"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="CRSUB:SubscriberEntity"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CRSUB:SubscriberAuthorizingOrganization"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CRSUB:DetailLevelCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="nc:ContactMeans"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CRSUB:ReasonForSubscriptionText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CRSUB:SubscriptionStartDate"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="CRSUB:SubscriptionEndDate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="SubscriptionIDText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>An identity of a subscription which must be unique</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="EntitySubscribedTo" nillable="false" type="MetaR:InformationRecordLinkType">
    <xsd:annotation>
      <xsd:documentation>A set of specific entities to subscribe to. Either EntitySubscribedTo or CategorySubscribedTo must have a value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="CategorySubscribedToURI" nillable="false" type="MetaR:CategoryURIType">
    <xsd:annotation>
      <xsd:documentation>A set of categories for entities to subscribe to.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubscriberEntity" nillable="false" type="MetaR:InformationRecordLinkType">
    <xsd:annotation>
      <xsd:documentation>A subscribing entity</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubscriberAuthorizingOrganization" nillable="false" type="MetaR:InformationRecordLinkType">
    <xsd:annotation>
      <xsd:documentation>An organization of the subscriber entity that may provide the authority for the subscription</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ReasonForSubscriptionText" nillable="false" type="nc:TextType">
    <xsd:annotation>
      <xsd:documentation>A reason for the subscription</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubscriptionStartDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A date the subscription starts</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubscriptionEndDate" nillable="false" type="nc:DateType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A date the subscription ends</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="SubjectInformationMessageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a message about one or more subjects</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ExchangeAgreedMessageType" i:namespace="http://it.ojp.gov/gist/201/Metadata/MetadataReference"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="MetaR:ExchangeAgreedMessageType">
        <xsd:sequence>
          <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>A data type for information about one or more entities</xsd:documentation>
            </xsd:annotation>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Person"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:PersonMinimal"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:ContactInformation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Subject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Offense"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Organization"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:MinimalOrganization"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Plan"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Program"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Assessment"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Treatment"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Education"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Incident"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Facility"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:ServiceProvider"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Medication"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:EnforcementOfficial"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Sanction"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:Victim"/>
          </xsd:choice>
          <xsd:choice maxOccurs="unbounded" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>A data type for information about one or more associations</xsd:documentation>
            </xsd:annotation>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:PersonContactInformationAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:PersonEmploymentAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:PersonResidenceAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:PersonLocationAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:HousingAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:ActivitySubjectAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:OffenseSubjectAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:OffenseItemAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:OffenseIncidentAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:OffenseDispositionAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:FacilityPersonAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:OffenseArrestAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:SubjectAssociatesAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:SubjectPlanningAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:PlanActivitiesAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:OffenseVictimAssociation"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="CRSUB:OffenseLocationAssociation"/>
          </xsd:choice>
          <xsd:element maxOccurs="1" minOccurs="1" ref="CRSUB:OperationResult"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="Person" nillable="false" type="SERVICE:PersonType">
    <xsd:annotation>
      <xsd:documentation>A set of people</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonMinimal" nillable="false" type="ENTITY:PersonMinimalType">
    <xsd:annotation>
      <xsd:documentation>A set of People that we don't need to know a lot about</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ContactInformation" nillable="false" type="nc:ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>An entities contact information</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Subject" nillable="false" type="SUBJ:SubjectType">
    <xsd:annotation>
      <xsd:documentation>A set of subjects</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Offense" nillable="false" type="ENTITY:OffenseType">
    <xsd:annotation>
      <xsd:documentation>A set of offenses</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Organization" nillable="false" type="ENTITY:OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A set of organizations</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="MinimalOrganization" nillable="false" type="ENTITY:OrganizationMinimalType">
    <xsd:annotation>
      <xsd:documentation>An organization </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Plan" nillable="false" type="PLAN:PlanType">
    <xsd:annotation>
      <xsd:documentation>A set of plans</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Program" nillable="false" type="ENTITY:ProgramType">
    <xsd:annotation>
      <xsd:documentation>A program</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Assessment" nillable="false" type="SERVICE:AssessmentType">
    <xsd:annotation>
      <xsd:documentation>An assessment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Treatment" nillable="false" type="TREAT:TreatmentType">
    <xsd:annotation>
      <xsd:documentation>A treatment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Education" nillable="false" type="SERVICE:EducationType">
    <xsd:annotation>
      <xsd:documentation>A set of education records</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Incident" nillable="false" type="ENTITY:IncidentType">
    <xsd:annotation>
      <xsd:documentation>A set of incidents</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Facility" nillable="false" type="ENTITY:FacilityType">
    <xsd:annotation>
      <xsd:documentation>A facility</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ServiceProvider" nillable="false" type="SERVICE:ServiceProviderType">
    <xsd:annotation>
      <xsd:documentation>A service provider</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Medication" nillable="false" type="TREAT:MedicationType">
    <xsd:annotation>
      <xsd:documentation>A persons medications</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="EnforcementOfficial" nillable="false" type="j:EnforcementOfficialType">
    <xsd:annotation>
      <xsd:documentation>A set of officials</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Sanction" nillable="false" type="j:SanctionType">
    <xsd:annotation>
      <xsd:documentation>A set of Sanctions</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Victim" nillable="false" type="j:VictimType">
    <xsd:annotation>
      <xsd:documentation>A set of Victims</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonContactInformationAssociation" nillable="false" type="nc:PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to an entities contact information</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonEmploymentAssociation" nillable="false" type="nc:PersonEmploymentAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to person employment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonResidenceAssociation" nillable="false" type="nc:PersonResidenceAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship for person residences</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonLocationAssociation" nillable="false" type="nc:PersonLocationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship for person locations</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="HousingAssociation" nillable="false" type="HOUSE:HousingAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship for person housing</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ActivitySubjectAssociation" nillable="false" type="j:ActivitySubjectAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to person activities</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenseSubjectAssociation" nillable="false" type="j:OffenseSubjectAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to offenses for subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenseItemAssociation" nillable="false" type="j:OffenseItemAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to items for offenses</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenseIncidentAssociation" nillable="false" type="j:OffenseIncidentAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to incident for offense</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenseDispositionAssociation" nillable="false" type="j:OffenseDispositionAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to disposition of offense</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="FacilityPersonAssociation" nillable="false" type="nc:FacilityPersonAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to facilities for a person</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenseArrestAssociation" nillable="false" type="j:OffenseArrestAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to Arrests for an offense</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubjectAssociatesAssociation" nillable="false" type="SUBJ:SubjectAssociatesAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship for Associates of a subject</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="SubjectPlanningAssociation" nillable="false" type="SUBJ:SubjectPlanningAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to Plans for subjects</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PlanActivitiesAssociation" nillable="false" type="PLAN:PlanActivitiesAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to Planned activities</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenseVictimAssociation" nillable="false" type="j:OffenseVictimAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to Victims of offenses</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OffenseLocationAssociation" nillable="false" type="j:OffenseLocationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A relationship to Locations for offenses</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="OperationResult" nillable="false" type="CRSUB:OperationResultType">
    <xsd:annotation>
      <xsd:documentation>A result of an operation to get subject information</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
