GRAInformation/SSP Examples/PMIX/PMIX_SSP_v_1.1.0/artifacts/service model/information model/PMIX IEPD/schema/code set/PMIX_Code_Set.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This schema is generated by using the following parameters:
Namespace Prefix      = pmpcd
Namespace URI         = pmpcode
Namespace Version     = 0.1
Code List Spreadsheet = PMIX_Code_Set.xls

Modifications:
March 31, 2010 - Chad Garner OSBP - Sync with ASAP 2007
-->
<xsd:schema xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:pmpcd="http://xml.ijis.org/pmpcode" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://xml.ijis.org/pmpcode" version="0.1">
	<xsd:annotation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../subset/niem/structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../subset/niem/appinfo/2.0/appinfo.xsd"/>
	<xsd:simpleType name="ExchangeActivityGroupingCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>Code representing a specific process type with in the hub
            </xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="RV">
				<xsd:annotation>
					<xsd:documentation>Request Valid  </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RA">
				<xsd:annotation>
					<xsd:documentation>Request Approved  </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RC">
				<xsd:annotation>
					<xsd:documentation>Request Response Completed  </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RS">
				<xsd:annotation>
					<xsd:documentation>Request Sent  </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RR">
				<xsd:annotation>
					<xsd:documentation>Request Response Received  </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RP">
				<xsd:annotation>
					<xsd:documentation>Request Response Processed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SR">
				<xsd:annotation>
					<xsd:documentation>Request Response Sent</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ExchangeActivityGroupingCodeType">
		<xsd:annotation>
			<xsd:documentation>Code representing a specific process type with in the hub
            </xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="pmpcd:ExchangeActivityGroupingCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="ParticipantRoleCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>Code that represents the role of the participant
            </xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Prescriber">
				<xsd:annotation>
					<xsd:documentation>Individual who issued the prescription for specific drugs</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Pharmacist">
				<xsd:annotation>
					<xsd:documentation>licensed individual who is responsible for filling the prescription.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Law Enforcement">
				<xsd:annotation>
					<xsd:documentation>Need Definition 1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Regulator">
				<xsd:annotation>
					<xsd:documentation>Need Definition 2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Researcher">
				<xsd:annotation>
					<xsd:documentation>Need Definition 3</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Patient">
				<xsd:annotation>
					<xsd:documentation>An individual who is under the care of a medical service provider and who is the recipient of a medication</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Medicaid">
				<xsd:annotation>
					<xsd:documentation>Medicaid  staff and fraud unit staff </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Judge">
				<xsd:annotation>
					<xsd:documentation>Judges administering drug diversion or probation programs</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Examiner">
				<xsd:annotation>
					<xsd:documentation>Medical examiner</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Practitioner">
				<xsd:annotation>
					<xsd:documentation>Health care practitioner intervention programs</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ParticipantRoleCodeType">
		<xsd:annotation>
			<xsd:documentation>Code that represents the role of the participant
            </xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="pmpcd:ParticipantRoleCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="TransmissionFormOfRxOriginCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="01">
				<xsd:annotation>
					<xsd:documentation>Written Prescription</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="02">
				<xsd:annotation>
					<xsd:documentation>Telephone Prescription</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="03">
				<xsd:annotation>
					<xsd:documentation>Telephone Emergency Prescription</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="04">
				<xsd:annotation>
					<xsd:documentation>Fax Prescription</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="05">
				<xsd:annotation>
					<xsd:documentation>Electronic Prescription</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="99">
				<xsd:annotation>
					<xsd:documentation>Other</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RelationshipToPatientCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="01">
				<xsd:annotation>
					<xsd:documentation>Patient</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="02">
				<xsd:annotation>
					<xsd:documentation>Parent/Legal Guardian</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="03">
				<xsd:annotation>
					<xsd:documentation>Spouse</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="04">
				<xsd:annotation>
					<xsd:documentation>Caregiver</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="99">
				<xsd:annotation>
					<xsd:documentation>Other</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReportingStatusCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="00">
				<xsd:annotation>
					<xsd:documentation>New</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="01">
				<xsd:annotation>
					<xsd:documentation>Revise</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="02">
				<xsd:annotation>
					<xsd:documentation>Void</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransactionTypeCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="01">
				<xsd:annotation>
					<xsd:documentation>Send/Request Transaction</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="02">
				<xsd:annotation>
					<xsd:documentation>Acknowledgment</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="03">
				<xsd:annotation>
					<xsd:documentation>Error Receiving</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="04">
				<xsd:annotation>
					<xsd:documentation>Void</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FileTypeCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="P">
				<xsd:annotation>
					<xsd:documentation>Production</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="T">
				<xsd:annotation>
					<xsd:documentation>Test</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SpeciesCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="01">
				<xsd:annotation>
					<xsd:documentation>Human</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="02">
				<xsd:annotation>
					<xsd:documentation>Veterinary Patient</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PatientLocationCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="01">
				<xsd:annotation>
					<xsd:documentation>Home</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="02">
				<xsd:annotation>
					<xsd:documentation>Intermediary Care</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="03">
				<xsd:annotation>
					<xsd:documentation>Nursing Home</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="04">
				<xsd:annotation>
					<xsd:documentation>Long-Term/Extended Care</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="05">
				<xsd:annotation>
					<xsd:documentation>Rest Home</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="06">
				<xsd:annotation>
					<xsd:documentation>Boarding Home</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="07">
				<xsd:annotation>
					<xsd:documentation>Skilled-Care Facility</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="08">
				<xsd:annotation>
					<xsd:documentation>Sub-Acute Care Facility</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="09">
				<xsd:annotation>
					<xsd:documentation>Acute-Care Facility</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="10">
				<xsd:annotation>
					<xsd:documentation>Outpatient</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="11">
				<xsd:annotation>
					<xsd:documentation>Hospice</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="98">
				<xsd:annotation>
					<xsd:documentation>Unknown</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="99">
				<xsd:annotation>
					<xsd:documentation>Other</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DrugDosageUnitsCodeType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="01">
				<xsd:annotation>
					<xsd:documentation>Each (used to report as package)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="02">
				<xsd:annotation>
					<xsd:documentation>Milliliters (ml) (for liters adjust to the decimal milliliter equivalent)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="03">
				<xsd:annotation>
					<xsd:documentation>Grams (gm) (for milligrams adjust to the decimal gram equivalent)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MethodOfPaymentCodeType">
		<xsd:annotation>
			<xsd:documentation>A code identifying the method of payment</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="01">
				<xsd:annotation>
					<xsd:documentation>Private Pay (Cash, Charge, Credit Card)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="02">
				<xsd:annotation>
					<xsd:documentation>Medicaid</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="03">
				<xsd:annotation>
					<xsd:documentation>Medicare</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="04">
				<xsd:annotation>
					<xsd:documentation>Commercial Insurance</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="05">
				<xsd:annotation>
					<xsd:documentation>Military Installations or VA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="06">
				<xsd:annotation>
					<xsd:documentation>Worker's Compensation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="07">
				<xsd:annotation>
					<xsd:documentation>Indian Nations</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="99">
				<xsd:annotation>
					<xsd:documentation>Other</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReportStatusCodeSimpleType">
		<xsd:annotation>
			<xsd:documentation>A code identifying the condition or state of something 
            </xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="200">
				<xsd:annotation>
					<xsd:documentation>OK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="400">
				<xsd:annotation>
					<xsd:documentation>Invalid Request</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="401">
				<xsd:annotation>
					<xsd:documentation>Unauthorized</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="405">
				<xsd:annotation>
					<xsd:documentation>Method Not Allowed</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="500">
				<xsd:annotation>
					<xsd:documentation>Internal Server Error</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="501">
				<xsd:annotation>
					<xsd:documentation>Not Implemented</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="503">
				<xsd:annotation>
					<xsd:documentation>Service Unavailable</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="505">
				<xsd:annotation>
					<xsd:documentation>Web Service Error</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="506">
				<xsd:annotation>
					<xsd:documentation>Web Service Error</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="507">
				<xsd:annotation>
					<xsd:documentation>Down for Maintenance</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="512">
				<xsd:annotation>
					<xsd:documentation>Insufficient Criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="521">
				<xsd:annotation>
					<xsd:documentation>Criteria Not Supported</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="511">
				<xsd:annotation>
					<xsd:documentation>Too Many Matching Records</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="522">
				<xsd:annotation>
					<xsd:documentation>Database Unavailable</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="524">
				<xsd:annotation>
					<xsd:documentation>Request Expiration</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ReportStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>A code identifying the condition or state of something 
            </xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="pmpcd:ReportStatusCodeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
