Examples/PetSubscriptionService/PetSubscriptionService/artifacts/service model/information model/pet_adoption_iepd/XMLschemas/extension/PetAdoptionExtension.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:NC="http://niem.gov/niem/niem-core/2.0" xmlns:PetExtension="http://www.modeldriven.org/niem/examples/PetAdoptionExtension" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:i2="http://niem.gov/niem/appinfo/2.1" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.modeldriven.org/niem/examples/PetAdoptionExtension" version="&quot;1&quot;">
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../XMLschemas/subset/niem/niem-core/2.0/PetAdoptionNIEMCoreSubset.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../XMLschemas/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../XMLschemas/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../XMLschemas/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../XMLschemas/appinfo/2.1/appinfo.xsd"/>
  <xsd:complexType abstract="false" mixed="false" name="ExceptionType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="PetExtension:ExceptionCodeText"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="PetExtension:ExceptionDescriptionText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="ExceptionCodeText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ExceptionDescriptionText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="PetKindCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Dog"/>
      <xsd:enumeration value="Cat"/>
      <xsd:enumeration value="Bird"/>
      <xsd:enumeration value="Rabbit"/>
      <xsd:enumeration value="GerbilOrHampster"/>
      <xsd:enumeration value="Reptile"/>
      <xsd:enumeration value="Horse"/>
      <xsd:enumeration value="Other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="PetAdoptionType">
    <xsd:annotation>
      <xsd:documentation>A data type for an adoption of a pet</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NC:ActivityType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="PetExtension:AdoptionCenter"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="PetExtension:AdoptingPerson"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="PetExtension:AdoptedPet"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="AdoptionCenter" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>The center performing the adoption</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PetAdoptionCenterType" i:namespace="http://www.modeldriven.org/niem/examples/PetAdoptionExtension"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="PetAdoptionCenterType">
    <xsd:annotation>
      <xsd:documentation>A data type for an organization that manages pet adoptions</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PetExtension:AdoptionsByCenter"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PetExtension:PetKindsOffered"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="PetExtension:RoleOfOrganizationTypeReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="AdoptionsByCenter" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Adoptions by this center</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PetAdoptionType" i:namespace="http://www.modeldriven.org/niem/examples/PetAdoptionExtension"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PetKindsOffered" nillable="false" type="PetExtension:PetKindCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>Kinds of pets this center adopts</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RoleOfOrganizationTypeReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="OrganizationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AdoptingPerson" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>The role of the person adopting a pet</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="AdoptingPersonType" i:namespace="http://www.modeldriven.org/niem/examples/PetAdoptionExtension"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="AdoptingPersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a role of a person adopting a pet</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PetExtension:AdoptionsByPerson"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="PetExtension:RoleOfPersonTypeReference"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="AdoptionsByPerson" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Adoptions the person has made</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PetAdoptionType" i:namespace="http://www.modeldriven.org/niem/examples/PetAdoptionExtension"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="RoleOfPersonTypeReference" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PersonType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="AdoptedPet" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>The pet being adopted</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PetType" i:namespace="http://www.modeldriven.org/niem/examples/PetAdoptionExtension"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="PetType">
    <xsd:annotation>
      <xsd:documentation>A data type for an animal owned for pleasure</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PetExtension:AdoptionOfPet"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="PetExtension:PetKind"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="PetExtension:PetName"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PetExtension:StringText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PetExtension:PetIdentification"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="AdoptionOfPet" nillable="false" type="s:ReferenceType">
    <xsd:annotation>
      <xsd:documentation>Adoptions of this pet</xsd:documentation>
      <xsd:appinfo>
        <i:ReferenceTarget i:name="PetAdoptionType" i:namespace="http://www.modeldriven.org/niem/examples/PetAdoptionExtension"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PetKind" nillable="false" type="PetExtension:PetKindCodeSimpleType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PetName" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="StringText" nillable="false" type="niem-xsd:string">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PetIdentification" nillable="false" type="NC:IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:appinfo>
        <i2:AugmentedTypeIndicator>true</i2:AugmentedTypeIndicator>
        <i:Base i:name="TelephoneNumberType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NC:TelephoneNumberType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="PetExtension:TelephoneNumberAugmentation"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="TelephoneNumberAugmentation" nillable="false" substitutionGroup="s:Augmentation" type="PetExtension:TelephoneNumberAugmentationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:AppliesTo i:name="TelephoneNumberType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="TelephoneNumberAugmentationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="AugmentationType" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:AugmentationType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" ref="PetExtension:TelephoneTypeDescriptionText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="TelephoneTypeDescriptionText" nillable="false" type="NC:TextType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="MyEnumerationCodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token"/>
  </xsd:simpleType>
  <xsd:simpleType name="MyEnumeration1CodeSimpleType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="xsd:token"/>
  </xsd:simpleType>
  <xsd:complexType abstract="false" mixed="false" name="PetAdoptionExchangeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a instance referenced by the top level exchange element.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PetExtension:People"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PetExtension:Adopters"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PetExtension:Pets"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PetExtension:PetAdoptions"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="PetExtension:PetAdoptionCenters"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PetExtension:Addresses"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PetExtension:ContactInformation"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="PetExtension:PersonContactInformationAssociations"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="People" nillable="false" type="NC:PersonType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Adopters" nillable="false" type="PetExtension:AdoptingPersonType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Pets" nillable="false" type="PetExtension:PetType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PetAdoptions" nillable="false" type="PetExtension:PetAdoptionType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PetAdoptionCenters" nillable="false" type="PetExtension:PetAdoptionCenterType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="Addresses" nillable="false" type="NC:AddressType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ContactInformation" nillable="false" type="NC:ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="PersonContactInformationAssociations" nillable="false" type="NC:PersonContactInformationAssociationType">
    <xsd:annotation>
      <xsd:documentation>A Documented Component</xsd:documentation>
      <xsd:documentation>A Documented Component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
</xsd:schema>
