GRAUML/Profile/model/data.grauml.graAnnotationModelXMI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:data.grauml.graAnnotationModel="http://ijis.org/GRA/Annotations" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ijis.org/GRA/Annotations">
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/>
  <xsd:simpleType name="ExchangePattern">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="enquiery"/>
      <xsd:enumeration value="subscription"/>
      <xsd:enumeration value="notification"/>
      <xsd:enumeration value="update"/>
      <xsd:enumeration value="message"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MessageUse">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="in"/>
      <xsd:enumeration value="out"/>
      <xsd:enumeration value="inout"/>
      <xsd:enumeration value="exception"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="InteractionRequirements">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="otherRequirement" nillable="true" type="xsd:string"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="serviceConsumerAuthentication" type="xsd:string" use="required"/>
    <xsd:attribute name="serviceConsumerAuthorization" type="xsd:string" use="required"/>
    <xsd:attribute name="identityAndAttributeAssertionTransmission" type="xsd:string" use="required"/>
    <xsd:attribute name="serviceAuthentication" type="xsd:string" use="required"/>
    <xsd:attribute name="messageNonrepudiation" type="xsd:string" use="required"/>
    <xsd:attribute name="messageIntegrity" type="xsd:string" use="required"/>
    <xsd:attribute name="messageConfidentiality" type="xsd:string" use="required"/>
    <xsd:attribute name="messageAddressing" type="xsd:string" use="required"/>
    <xsd:attribute name="reliability" type="xsd:string" use="required"/>
    <xsd:attribute name="transactionSupport" type="xsd:string" use="required"/>
    <xsd:attribute name="serviceMetadataAvailability" type="xsd:string" use="required"/>
    <xsd:attribute name="interfaceDescriptionRequirements" type="xsd:string" use="required"/>
    <xsd:attribute name="logging" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:element name="InteractionRequirements" type="data.grauml.graAnnotationModel:InteractionRequirements"/>
  <xsd:complexType abstract="true" name="GraServiceAnnotationBase">
    <xsd:annotation>
      <xsd:documentation>Documentation is derived from the UML instance element owned documentation and is set by default by the documentation of the realized element, if any.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="flag" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Flag provides an arbitrary extension mechanism where by any business or technology choice may be notated on the containing element. The intent is that the phase-2 transform will then respect these flags and produce the desired result. Unkown flags are ignored.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="requirement" type="data.grauml.graAnnotationModel:InteractionRequirements"/>
      <xsd:element name="modelReference" type="data.grauml.graAnnotationModel:ModelReference">
        <xsd:annotation>
          <xsd:documentation>Reference to model elements specifying this element. Notated as a realization in the UML model.&#13;
A Documented Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The element name is derived from the UML Instance name and will default to the realized element name if not otherwise set.&#13;
A Documented Component</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="documentation" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A Documented Component&#13;
A Documented Component</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="template" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Template is the name of an XSLT template that will be called to process the containing element thus overriding the default mapping.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="GraServiceAnnotationBase" type="data.grauml.graAnnotationModel:GraServiceAnnotationBase">
    <xsd:annotation>
      <xsd:documentation>Documentation is derived from the UML instance element owned documentation and is set by default by the documentation of the realized element, if any.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ModelReference">
    <xsd:annotation>
      <xsd:documentation>Model references are generated based on a realization or QVT logic.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="documentation" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The documentation of the element&#13;
A Documented Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="diagramLink" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A Documented Component&#13;
A Documented Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="model" type="data.grauml.graAnnotationModel:Model">
        <xsd:annotation>
          <xsd:documentation>A Documented Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The name of the element&#13;
A Documented Component</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="elementId" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>A Documented Component
A Documented Component</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="ModelReference" type="data.grauml.graAnnotationModel:ModelReference">
    <xsd:annotation>
      <xsd:documentation>Model references are generated based on a realization or QVT logic.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Model">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="modelUri" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>A Documented Component
A Documented Component</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="label" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A Documented Component
A Documented Component</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="Model" type="data.grauml.graAnnotationModel:Model"/>
  <xsd:complexType name="Participant">
    <xsd:annotation>
      <xsd:documentation>Realizes Actor</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:Organization"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Participant" type="data.grauml.graAnnotationModel:Participant">
    <xsd:annotation>
      <xsd:documentation>Realizes Actor</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Organization">
    <xsd:annotation>
      <xsd:documentation>A data structure describing a body of people grouped together for a common purpose.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="organizationPointOfContact" type="data.grauml.graAnnotationModel:Person">
            <xsd:annotation>
              <xsd:documentation>A person designated as the point of contact for an organization.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="organizationAcronym" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>An acronym for the agency.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="organizationFullAddressText" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A physical address of an agency in full text form.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="organizationWebSiteUrl" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>An internet address of the agency's web site.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="organizationRoleDescriptionText" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>An organizations role defined in free form text. Examples could be creator, provider, owner, maintainer, authorities source, etc.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="organizationRoleDetailedDescriptionText" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A very detailed textual explanation of the role and responsibilities of an organization.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Organization" type="data.grauml.graAnnotationModel:Organization">
    <xsd:annotation>
      <xsd:documentation>A data structure describing a body of people grouped together for a common purpose.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Person">
    <xsd:annotation>
      <xsd:documentation>A data structure describing a persons name and the means to contact that person.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:GraServiceAnnotationBase">
        <xsd:attribute name="contactPersonEmailId" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>An Email of a person.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="contactPersonPhoneNumberId" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A phone number of the person designated as the point of contact for the organization.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="contactPersonAddress" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A physical address of a person in full text form.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Person" type="data.grauml.graAnnotationModel:Person">
    <xsd:annotation>
      <xsd:documentation>A data structure describing a persons name and the means to contact that person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Interface">
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="operation" type="data.grauml.graAnnotationModel:Operation"/>
          <xsd:element name="messageDefault" type="data.grauml.graAnnotationModel:Message"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Interface" type="data.grauml.graAnnotationModel:Interface"/>
  <xsd:complexType name="Operation">
    <xsd:annotation>
      <xsd:documentation>A data structure representing a services action information
[Realizes] Operation</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="message" type="data.grauml.graAnnotationModel:Message"/>
        </xsd:choice>
        <xsd:attribute name="messageExchangePattern" type="data.grauml.graAnnotationModel:ExchangePattern" use="required"/>
        <xsd:attribute name="isAsyncronous" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A Documented Component&#13;
A Documented Component</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="actionName" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A service action performed within this service interface.
[Derived from] Operation name</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="actionPurpose" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A description of the Service Action purpose performed by this service interface.
[Derived from] Operation description</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Operation" type="data.grauml.graAnnotationModel:Operation">
    <xsd:annotation>
      <xsd:documentation>A data structure representing a services action information
[Realizes] Operation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Message">
    <xsd:annotation>
      <xsd:documentation>[Derived from class]</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="type" type="data.grauml.graAnnotationModel:ModelReference">
            <xsd:annotation>
              <xsd:documentation>A Documented Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="use" type="data.grauml.graAnnotationModel:MessageUse">
          <xsd:annotation>
            <xsd:documentation>THe "direction" of the message&#13;
A Documented Component</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Message" type="data.grauml.graAnnotationModel:Message">
    <xsd:annotation>
      <xsd:documentation>[Derived from class]</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Service">
    <xsd:annotation>
      <xsd:documentation>Realizes component</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:Participant">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="interfaceDefault" type="data.grauml.graAnnotationModel:Interface"/>
          <xsd:element name="messageDefault" type="data.grauml.graAnnotationModel:Message"/>
          <xsd:element name="operationDefault" type="data.grauml.graAnnotationModel:Operation"/>
          <xsd:element name="port" type="data.grauml.graAnnotationModel:Port"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Service" type="data.grauml.graAnnotationModel:Service">
    <xsd:annotation>
      <xsd:documentation>Realizes component</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Port">
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="interface" type="data.grauml.graAnnotationModel:Interface"/>
          <xsd:element name="operationDefault" type="data.grauml.graAnnotationModel:Operation"/>
          <xsd:element name="messageDefault" type="data.grauml.graAnnotationModel:Message"/>
        </xsd:choice>
        <xsd:attribute name="addressUri" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Port" type="data.grauml.graAnnotationModel:Port"/>
  <xsd:complexType name="ServiceInteraction">
    <xsd:annotation>
      <xsd:documentation>Exchanges between parties as an interaction diagram</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="participant" type="data.grauml.graAnnotationModel:Participant">
            <xsd:annotation>
              <xsd:documentation>A Documented Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceInteraction" type="data.grauml.graAnnotationModel:ServiceInteraction">
    <xsd:annotation>
      <xsd:documentation>Exchanges between parties as an interaction diagram</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="UseCase">
    <xsd:annotation>
      <xsd:documentation>[Derived from] Use case or package with use cases</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="realWorldEffectDescriptionText" nillable="true" type="xsd:string"/>
          <xsd:element name="provider" type="data.grauml.graAnnotationModel:Participant">
            <xsd:annotation>
              <xsd:documentation>A Documented Component
A Documented Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="consumer" type="data.grauml.graAnnotationModel:Participant">
            <xsd:annotation>
              <xsd:documentation>A Documented Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="UseCase" type="data.grauml.graAnnotationModel:UseCase">
    <xsd:annotation>
      <xsd:documentation>[Derived from] Use case or package with use cases</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Agreement">
    <xsd:annotation>
      <xsd:documentation>A data structure representing an agreement, formal or informal, associated with a service, application or thing, tangible or otherwise.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="agreementDescriptionText" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A free text description of an agreement, formal or informal, associated with a service, application or thing, tangible or otherwise.
[Derived from] Element Documentation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="agreementUri" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A locator referencing an agreement, formal or informal, associated with a service, application or thing, tangible or otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="Agreement" type="data.grauml.graAnnotationModel:Agreement">
    <xsd:annotation>
      <xsd:documentation>A data structure representing an agreement, formal or informal, associated with a service, application or thing, tangible or otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="IepdReference">
    <xsd:annotation>
      <xsd:documentation>A data structure describing the name and location of an IEPD. This entire structure is derived from &lt;uses&gt;d IEPDs.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="iepdName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A human readable identification of the IEPD</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="iepdurl" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A URL where the IEPD is posted and available.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="IepdReference" type="data.grauml.graAnnotationModel:IepdReference">
    <xsd:annotation>
      <xsd:documentation>A data structure describing the name and location of an IEPD. This entire structure is derived from &lt;uses&gt;d IEPDs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SecurityClassification">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="securityClassificationText" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Any applicable classification of the security level of the information exchanged by the service, such as SBU, Secret, etc. If there is no strict classification this field can contain a brief statement regarding the security of the data.
[Derived from] Security Classification Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="SecurityClassification" type="data.grauml.graAnnotationModel:SecurityClassification"/>
  <xsd:complexType name="ServiceCapability">
    <xsd:annotation>
      <xsd:documentation>A free text format description of the capability provided by a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="capabilityDescriptionText" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>A free text format description of the capability provided by a service.
[Derived from] Element Documentation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="ServiceCapability" type="data.grauml.graAnnotationModel:ServiceCapability">
    <xsd:annotation>
      <xsd:documentation>A free text format description of the capability provided by a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceDescription">
    <xsd:annotation>
      <xsd:documentation>A data structure representing the details describing a service.
[Realizes] Collaboration
[Uses] IEPD</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:ServiceIdentification">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="serviceDescriptionKeywordText" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>A search term that would not otherwise be in other metadata attributes (e.g., Child Support Warrant, Domestic Relations Warrant, Domestics).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="endorsements" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>A collection of names and acronyms of professional or governmental organizations or people that endorse this service as an official business exchange.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="alertsAndNotifications" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>A URL to sign up for alerts and notifications for a specific service</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceDescription" type="data.grauml.graAnnotationModel:Description">
            <xsd:annotation>
              <xsd:documentation>A human readable narrative description of this service—may contain as much detail as you think useful to those with a potential interest in this service and its business usage/application.
[Derived from] Element Documentation</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="exchangePartner" type="data.grauml.graAnnotationModel:Participant">
            <xsd:annotation>
              <xsd:documentation>A collection of the types/categories of organizations that would commonly use a service.
[Derived from] Role in collaboration</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="servicePurpose" type="data.grauml.graAnnotationModel:Description">
            <xsd:annotation>
              <xsd:documentation>A purpose which the service intends or resolves, to perform or accomplish.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceScopeDescription" type="data.grauml.graAnnotationModel:Description">
            <xsd:annotation>
              <xsd:documentation>A definition of the scope of a service.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceCapabilities" type="data.grauml.graAnnotationModel:ServiceCapability">
            <xsd:annotation>
              <xsd:documentation>An enumeration of the capabilities provided by a service. The capabilities will be described in a free text format.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceDependency" type="data.grauml.graAnnotationModel:ServiceIdentification">
            <xsd:annotation>
              <xsd:documentation>A specific service upon which a service directly depends to deliver its real world effects.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="iepdReference" type="data.grauml.graAnnotationModel:IepdReference">
            <xsd:annotation>
              <xsd:documentation>A set or reference information identifying an Information Exchange Package Document which the service uses in its data model
[Derived from] &lt;Uses&gt; relation to IEPD</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceSecurityClassification" type="data.grauml.graAnnotationModel:SecurityClassification"/>
          <xsd:element name="serviceLevelAgreement" type="data.grauml.graAnnotationModel:ServiceLevelAgreement">
            <xsd:annotation>
              <xsd:documentation>A collection of policies, agreements, licensing and any other goverenace or performance documentation specifying constraints and any other details regarding the realization of a service.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="relatedOrganization" type="data.grauml.graAnnotationModel:Organization">
            <xsd:annotation>
              <xsd:documentation>A collection of organizations that are somehow related to the service.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceInterface" type="data.grauml.graAnnotationModel:ServiceInterfaceSpecification">
            <xsd:annotation>
              <xsd:documentation>A set of details relating to the interface of a service.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="realWorldEffect" type="data.grauml.graAnnotationModel:UseCase">
            <xsd:annotation>
              <xsd:documentation>A Documented Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceInteraction" type="data.grauml.graAnnotationModel:ServiceInteraction">
            <xsd:annotation>
              <xsd:documentation>A Documented Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:attribute name="classification" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A collection of classifications defining the relationship between a service and an applicable enterprise architecture and business reference model.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sponsors" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A collection of professional or governmental organization(s) or person that sponsored, contributed, or participated in the development of a service.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="serviceDescriptionSummaryText" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A brief summary of this service for short display purposes.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="domainDescription" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A primary domain or line of business (LoB) that a service covers.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="transformationUri" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>URI of an XSLT that transforms the skeleton SSP into a final one as the "phase-2" transform. &#13;
A Documented Component</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="majorVersion" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A value identifying the primary version number.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="minorVersion" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A value designating a minor version number.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="revisionVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A value designating a minor version revision number.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="creationDate" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A date designation when a service was first created. Do NOT to be confuse with the date a service is submitted to a registry. The format is YYYY-MM. Set by default.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="activationDate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A date when a service was or will be first available in production. Do NOT confuse with the date you submitted this service to a registry. The format is YYYY-MM.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="lastRevisionDate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A date with the year and month specifying when this service information was last revised. Do NOT confuse with the date the service itself was last revised with generating new service documentation. The format is YYYY-MM. Set by default.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="nextRevisionDate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A year and month (YYYY-MM) a service is expected to be revised.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="expirationDate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A year and month (YYYY-MM) this service is expected to be no longer available (if applicable).</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="lifecycleStatus" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A word indicating the current stage of the service within the development lifecycle.  Valid values are; In Design, In Development, Release Candidate, Operational/Production, Deprecated</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceDescription" type="data.grauml.graAnnotationModel:ServiceDescription">
    <xsd:annotation>
      <xsd:documentation>A data structure representing the details describing a service.
[Realizes] Collaboration
[Uses] IEPD</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceIdentification">
    <xsd:annotation>
      <xsd:documentation>A data structure representing the means of uniquely identifying a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="serviceId" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>An identification of the service in a service registry and/or repository.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceUri" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>A fully qualified locator of the service interface potentially including version and environment.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="serviceNameAbbreviationText" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>A human readable abbreviation of the Service Name.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceIdentification" type="data.grauml.graAnnotationModel:ServiceIdentification">
    <xsd:annotation>
      <xsd:documentation>A data structure representing the means of uniquely identifying a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Description">
    <xsd:annotation>
      <xsd:documentation>Documentation for any element contained in element documentation</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="description" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Description derived from element description&#13;
A Documented Component</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="externalDocumentation" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A Documented Component
A Documented Component</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="Description" type="data.grauml.graAnnotationModel:Description">
    <xsd:annotation>
      <xsd:documentation>Documentation for any element contained in element documentation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceLevelAgreement">
    <xsd:annotation>
      <xsd:documentation>A collection of policies, agreements, licensing and any other goverenace or performance documentation specifying constraints and any other details regarding the realization of a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="umbrellaAgreement" type="data.grauml.graAnnotationModel:Agreement">
        <xsd:annotation>
          <xsd:documentation>An umbrella agreement that in some way constrain, govern, or control the usage of a service, application, process. etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="agreement" type="data.grauml.graAnnotationModel:Agreement">
        <xsd:annotation>
          <xsd:documentation>A description or reference to an applicable Agreement or MOU governing the use, administration, or implementation of a service.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="applicableContract" type="data.grauml.graAnnotationModel:Agreement">
        <xsd:annotation>
          <xsd:documentation>A formal contract associated with a service, application, process, tranaction, or thing, tangible or otherwise.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="licensingAgreement" type="data.grauml.graAnnotationModel:Agreement">
        <xsd:annotation>
          <xsd:documentation>A type of licensing for a service or application. Descriptive values could be In House, No License,  Open Source, Purchase License, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="usageCostAmount" type="data.grauml.graAnnotationModel:AmountType">
        <xsd:annotation>
          <xsd:documentation>A total cost to use something, such as a service, etc. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="usageUnitCostAmount" type="data.grauml.graAnnotationModel:AmountType">
        <xsd:annotation>
          <xsd:documentation>A cost associated with a service(e.g. transaction, unlimited transactions, minutes of use).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="creationCostAmount" type="data.grauml.graAnnotationModel:AmountType">
        <xsd:annotation>
          <xsd:documentation>A cost create a thing, such as an application or service  This includes the full cost to design, manage, develop, test, implement and maintain.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="applicablePoliciesIndicator" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>True when there are any applicable policies governing the use, administration, or implementation of a service; False otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applicableContractsIndicator" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>True when there are any applicable contracts relating to the use, administration, or implementation of a service; False otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applicableAgreementsIndicator" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>True when there are any applicable agreements or Memoranda Of Understanding (MOUs) relating to the use, administration, or implementation of a service; False otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applicableUmbrellaAgreementsIndicator" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>True when there are any applicable umbrella agreements relating to the use, administration, or implementation of a service; False otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applicablePolicies" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A collection of all policies that in some way constrain, govern, or control the usage of a service, application, process. etc.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="approvalRequiredIndicator" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>True when a permission must first be obtained prior to using a service or performing some action in a business process; False otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="licensingRequiredIndicator" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>True when a license is required to use a service or application; False otherwise.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceResponseTime" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>A description of the average response time for a service.  The response time is calculated as the time input is provided to the service until the service completes its process or provides output for the consumer.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceAverageThroughput" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A description of how often a service is expected to be, or actually used, averaged over a period of time.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceMaximumThroughput" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A description of the limit of how often a service is able to be accessed or used at, over a period of time during peak capacity.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serviceAvailability" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A description or measurement of the expected availbility that a service is usable.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="ServiceLevelAgreement" type="data.grauml.graAnnotationModel:ServiceLevelAgreement">
    <xsd:annotation>
      <xsd:documentation>A collection of policies, agreements, licensing and any other goverenace or performance documentation specifying constraints and any other details regarding the realization of a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="AmountType">
    <xsd:annotation>
      <xsd:documentation>A data type for an amount of money.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="currencyText" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>A unit of money or exchange.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:element name="AmountType" type="data.grauml.graAnnotationModel:AmountType">
    <xsd:annotation>
      <xsd:documentation>A data type for an amount of money.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceInterfaceSpecification">
    <xsd:annotation>
      <xsd:documentation>A data type representing details relating to the interface of a service.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="data.grauml.graAnnotationModel:GraServiceAnnotationBase">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="serviceInteractionProfile" type="data.grauml.graAnnotationModel:ServiceInteractionProfile">
            <xsd:annotation>
              <xsd:documentation>A set of information about the Service Interaction Profile Implemented.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="portDefault" type="data.grauml.graAnnotationModel:Port"/>
          <xsd:element name="interfaceDefault" type="data.grauml.graAnnotationModel:Interface"/>
          <xsd:element name="operationDefault" type="data.grauml.graAnnotationModel:Operation"/>
          <xsd:element name="messageDefault" type="data.grauml.graAnnotationModel:Message"/>
          <xsd:element name="provider" type="data.grauml.graAnnotationModel:Service"/>
        </xsd:choice>
        <xsd:attribute name="securityImplementedIndicator" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>True when security has been implemented to access this service.False otherwise.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="securityDescriptionText" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A text description that identifies the security which was implemented to protect this service interface (GFIPM, Trusted Broker, etc)</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="uriAddress" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A fully qualified locator of the service interface potentially including version and environment.
[derived from] Element name</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="uriDescription" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A description of the URI. This would provide better understanding of what is actually at the URI address.
[derived from] Element description</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceInterfaceSpecification" type="data.grauml.graAnnotationModel:ServiceInterfaceSpecification">
    <xsd:annotation>
      <xsd:documentation>A data type representing details relating to the interface of a service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ServiceInteractionProfile">
    <xsd:annotation>
      <xsd:documentation>A data structure containing information about the Service Interaction Profile Implemented</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="sipName" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>A name of the Service Interaction Profile Implemented.
[Derived from] SIP Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sipVersion" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>A version of the Service Interaction Profile Implemented</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="ServiceInteractionProfile" type="data.grauml.graAnnotationModel:ServiceInteractionProfile">
    <xsd:annotation>
      <xsd:documentation>A data structure containing information about the Service Interaction Profile Implemented</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
